.footer {
    background-color:#2C3E50;
    color:#ffff;
    padding: 20px 0px 20px 30px;
    
    }
    
    li h4 {
    
        border-bottom: solid 2px #ff8616;
        width:120px;
        padding-bottom: 5px;
    }
    
    strong {
    
        border-bottom: solid 2px #ff8616;
        width:120px;
        padding-bottom: 5px;
    }
    
    h3.mb0 {
    
        border-bottom: solid 2px #ff8616;
        width:120px;
        padding-bottom: 5px;
    }
    
    