<template>
  <div class="main-content">
    <!--##################Breadcrumb####################-->
    <div class="page-header border-bottom">
      <slot name="header">
        
        <h3 class="page-title">
          <span class="page-title-icon bg-gradient-primary text-white mr-2">
            <i class="i-Library-2 align-middle"></i>                 
          </span>
          {{$t('Products')}}
        </h3>
      </slot>
    
        <nav aria-label="breadcrumb">
          <ul class="breadcrumb">        
            <span></span><li> <a href="/app/products/list">
              <i class="i-Library-2 menu-icon icon-sm align-middle"></i>  
              {{$t('Products')}}
            </a>
          </li>

            <li class="breadcrum-divider text-gray"><span>{{$t("/")}}</span></li>
            <li class="breadcrumb-item active" aria-current="page">
              <a href="">
                <i class="mdi mdi-plus-box menu-icon icon-sm text-primary align-middle"></i>
                {{$t('AddProduct')}}
              </a>
              
            </li>
          </ul>
        </nav>

      </div>
    <div v-if="isLoading" class="loading_page spinner spinner-primary mr-3"></div>

    <!--######################## Add Product Form ######################-->

    <b-row>
    

    <validation-observer ref="Create_Product" v-if="!isLoading">
      <b-form @submit.prevent="Submit_Product" enctype="multipart/form-data">
        <b-row> 

        <!--Button submit-->
         <b-col md="12" style="top:-17px">
          <b-button variant="primary" type="submit" :disabled="SubmitProcessing">{{$t('submit')}}</b-button>
           <div v-once class="typo__p" v-if="SubmitProcessing">
             <div class="spinner sm spinner-primary mt-3"></div>
           </div>
       </b-col>

       
        <b-col md="8">
          <b-card>
            <b-row>

              <!-- Name -->
              <b-col md="6" sm="6" lg="6">
                <validation-provider
                  name="Name"
                  :rules="{required:true , min:3 , max:55}"
                  v-slot="validationContext"
                >
                  <b-form-group :label="$t('Name_product') + ' ' + '*'">
                    <b-form-input
                      :state="getValidationState(validationContext)"
                      aria-describedby="Name-feedback"
                      label="Name"
                      :placeholder="$t('Enter_Name_Product')"
                      v-model="product.name"
                    ></b-form-input>
                    <b-form-invalid-feedback id="Name-feedback">{{ validationContext.errors[0] }}</b-form-invalid-feedback>
                  </b-form-group>
                </validation-provider>
              </b-col>

              <!-- Order Tax -->

              <b-col md="4" sm="4"  lg="4">
                <validation-provider name="VAT " :rules="{ required: true}">
                  <b-form-group slot-scope="{ valid, errors }" :label="$t('OrderTax') + ' ' + '*'" style="left:-10px">
                    <v-select
                    
                      :class="{'is-invalid': !!errors.length}"
                      :state="errors[0] ? false : (valid ? true : null)"
                      v-model="product.TaxNet"
                      :reduce="label => label.value"
                      :placeholder="$t('Choose')"
                      :options="
                          [
                            {label: '17%', value: '17'},
                            {label: '16%', value: '16'},
                            {label: '5%', value: '5'},
                            {label: '3%', value: '3'},
                            {label: $t('Exemption'), value: '0'},
                          ]"
                    />
                    <b-form-invalid-feedback>{{ errors[0] }}</b-form-invalid-feedback>
                  </b-form-group>
                </validation-provider>
              </b-col>

              <!-- Product Status-->
       <!--<b-col md="2" sm="2" lg="2">
        <validation-provider name="Status product"
        :rules="{ required: true}"
        v-slot="validationContext">

          <b-form-group class="text-center" :label="$t('Status') + ' ' + '*'" style="left:-40px">

            <b-col  md="12" sm="12" lg="12">  
              <ToggleButton type="checkbox" width="100" @change="onChangeEventProductStatusHandler"
               v-model="product.statusp"
               :labels="{checked: 'active', unchecked: 'inactive'}"                               
              />
            </b-col>
          
            <div md="6" sm="6" lg="6">  
            <b-input-group type="hidden" 
            name="hidden_status" id="hidden_status" 
            v-model="product.statusp" 
            style="width:60px" hidden > 
            </b-input-group>
            </div>
            </b-form-group>

        </validation-provider>
      </b-col>-->

      <!--Product description-->
<!--<b-col md="12" sm="12" lg="12" class="w-100" >
        <b-form-group :label="$t('Description')" class="w-100" style="width:100%">
          <textarea
            rows="2"
            class="form-control"
            :placeholder="$t('Afewwords')"
            v-model="product.description"
          ></textarea>
        </b-form-group>
      </b-col>-->

              <!-- Code Product"-->
              <b-col md="6" sm="6" >
                <validation-provider
                  name="Code Product"
                  :rules="{ required: true}"
                >
                  <b-form-group slot-scope="{ valid, errors }" :label="$t('CodeProduct') + ' ' + '*'">
                    <div class="input-group">
                      <b-form-input
                        :class="{'is-invalid': !!errors.length}"
                        :state="errors[0] ? false : (valid ? true : null)"
                        :placeholder="$t('Scan_your_barcode_and_select_the_correct_symbology_below')"
                        aria-describedby="CodeProduct-feedback"
                        type="text"
                        v-model="product.code"
                      ></b-form-input>
                      <b-form-invalid-feedback id="CodeProduct-feedback">{{ errors[0] }}</b-form-invalid-feedback>
                    </div>
                      <!--<span>{{$t('Scan_your_barcode_and_select_the_correct_symbology_below')}}</span>-->
                      <b-alert
                        show
                        variant="danger"
                        class="error mt-1"
                        v-if="code_exist !=''"
                      >{{code_exist}}</b-alert>
                  </b-form-group>
                </validation-provider>
              </b-col>
              
              <!-- Supplier-->
              <b-col md="6" sm="6" lg="6" >
                <validation-provider name="supplier" :rules="{ required: true}">
                 <b-form-group slot-scope="{ valid, errors }" :label="$t('Supplier') + ' ' + '*'">
                  <b-input-group class="input-supplier" >
                    <v-select
                    style="width:81%"
                      :class="{'is-invalid': !!errors.length}"
                      :state="errors[0] ? false : (valid ? true : null)"
                      :reduce="label => label.value"
                      :placeholder="$t('Choose_Supplier')"         
                      v-model="product.provider_id"
                      :options="providers.map(providers => ({label: providers.name, value: providers.id}))"
                    />

                  <!--Add new category-->
                    <b-input-group-append>
                      <b-button variant="primary" :title="$t('Add_New_Supplier')" @click="New_Provider()">
                        <span>
                          <fa icon="fa-solid fa-plus"/>
                          <!--<i class="i-Add-Plus"></i>-->
                        </span>
                      </b-button>
                    </b-input-group-append>
                    <b-form-invalid-feedback>{{ errors[0] }}</b-form-invalid-feedback>

                </b-input-group>

                </b-form-group>

                </validation-provider>
              </b-col>

              <!-- Category -->
              <b-col md="6" sm="6">
                <validation-provider name="category" :rules="{ required: true}">
                 <b-form-group slot-scope="{ valid, errors }" :label="$t('Categorie') + ' ' + '*'">
                  <b-input-group class="input-category" >
                    <v-select
                      style="width:81%"
                      :class="{'is-invalid': !!errors.length}"
                      :state="errors[0] ? false : (valid ? true : null)"
                      :reduce="label => label.value"
                      :placeholder="$t('Choose_Category')"
                      v-model="product.category_id"
                      :options="categories.map(categories => ({label: categories.name, value: categories.id}))"
                    />
                  <!--Add new category-->
                    <b-input-group-append>
                      <b-button variant="primary" :title="$t('Add_New_Category')" @click="New_category()">
                        <span>
                          <fa icon="fa-solid fa-plus"/>
                        </span>
                      </b-button>
                    </b-input-group-append>

                </b-input-group>
                <b-form-invalid-feedback>{{ errors[0] }}</b-form-invalid-feedback>

                
                </b-form-group>

                </validation-provider>
              </b-col>

             
              <!-- Product Cost -->
              <b-col md="6" sm="6" lg="6">
                <validation-provider
                  name="Product Cost"
                  :rules="{ required: true , regex: /^\d*\.?\d*$/}"
                  v-slot="validationContext"
                >
                  <b-form-group :label="$t('ProductCost') + ' ' + '*'">
                    <b-form-input
                      :state="getValidationState(validationContext)"
                      aria-describedby="ProductCost-feedback"
                      label="Cost"
                      :placeholder="$t('Enter_Product_Cost')"
                      v-model="product.cost"
                    ></b-form-input>
                    <b-form-invalid-feedback
                      id="ProductCost-feedback"
                    >{{ validationContext.errors[0] }}</b-form-invalid-feedback>
                  </b-form-group>
                </validation-provider>
              </b-col>

              <!-- Product Price -->
              <b-col md="6" sm="6" lg="6">
                <validation-provider
                  name="Product Price"
                  :rules="{ required: true , regex: /^\d*\.?\d*$/}"
                  v-slot="validationContext"
                >
                  <b-form-group :label="$t('ProductPrice') + ' ' + '*'">
                    <b-form-input
                      :state="getValidationState(validationContext)"
                      aria-describedby="ProductPrice-feedback"
                      label="Price"
                      :placeholder="$t('Enter_Product_Price')"
                      v-model="product.price"
                    ></b-form-input>

                    <b-form-invalid-feedback
                      id="ProductPrice-feedback"
                    >{{ validationContext.errors[0] }}</b-form-invalid-feedback>
                  </b-form-group>
                </validation-provider>
              </b-col>

              <!-- Unit Product -->
              <b-col md="6" sm="6" lg="6">
                <validation-provider name="Unit Product" :rules="{ required: true}">
                  <b-form-group slot-scope="{ valid, errors }" :label="$t('UnitProduct') + ' ' + '*'">
                    <b-input-group class="w-100 input-unit" >
                    <v-select
                      :class="{'is-invalid': !!errors.length}"
                      :state="errors[0] ? false : (valid ? true : null)"
                      v-model="product.unit_id"
                      class="required"
                      :placeholder="$t('Choose_Unit_Product')"
                      :reduce="label => label.value"
                      :options="units.map(units => ({label: units.name, value: units.id}))"
                      style="width:81%"
                    />

                    <!--Add new Product Unit-->
                    <b-input-group-append>
                      <b-button variant="primary" :title="$t('add_unit')" @click="New_Unit()">
                        <span>
                          <fa icon="fa-solid fa-plus"/>
                        </span>
                      </b-button>
                    </b-input-group-append>

                  </b-input-group>
                  <b-form-invalid-feedback>{{ errors[0] }}</b-form-invalid-feedback>
                  </b-form-group>
                </validation-provider>
              </b-col>

              <!-- Unit Sale -->
              <!--<b-col md="4" sm="4" >
                <validation-provider name="Unit Sale">
                  <b-form-group slot-scope="{ valid, errors }" :label="$t('UnitSale') + ' ' + '*'" >
                    <v-select
                      :class="{'is-invalid': !!errors.length}"
                      :state="errors[0] ? false : (valid ? true : null)"
                      v-model="product.unit_sale_id"
                      :placeholder="$t('Choose_Unit_Sale')"
                      :reduce="label => label.value"
                      :options="units_sub.map(units_sub => ({label: units_sub.name, value: units_sub.id}))"
                    />
                    <b-form-invalid-feedback>{{ errors[0] }}</b-form-invalid-feedback>
                  </b-form-group>
                </validation-provider>
              </b-col>-->

              
              <!-- Product type-->
            <!--- <b-col md="6" sm="6"  lg="6">
                <validation-provider name="Product type">
                  <b-form-group slot-scope="{ valid, errors }" :label="$t('Type') + ' ' + '*'">
                    <v-select
                    
                      :class="{'is-invalid': !!errors.length}"
                      :state="errors[0] ? false : (valid ? true : null)"
                      v-model="product.tipo"
                      :reduce="label => label.value"
                      :placeholder="$t('Choose')"
                      :options="
                          [
                            {label: $t('Goods'), value: $t('Goods')},
                            {label: $t('Expenses'), value: $t('Expenses')},
                          ]"
                    />
                    <b-form-invalid-feedback>{{ errors[0] }}</b-form-invalid-feedback>
                  </b-form-group>
                </validation-provider>
                </b-col>-->


<!--Quantidade de produto-->
<!--<b-col md="6" sm="6" lg="6" >
  <validation-provider
    name="Product Qty"
    v-slot="validationContext"
  >
    <b-form-group :label="$t('ProductQty') + ' ' + '*'">
      <b-form-input
        :state="getValidationState(validationContext)"
        aria-describedby="ProductQty-feedback"
        label="ProductQty"
        :placeholder="$t('Enter_Product_Qty')"
        v-model="product.product_qty"
      ></b-form-input>
      <b-form-invalid-feedback
        id="ProductQty-feedback"
      >{{ validationContext.errors[0] }}</b-form-invalid-feedback>
    </b-form-group>
  </validation-provider>
</b-col>-->
              <!-- Unit Purchase -->
              <!--<b-col md="6" sm="6" >
                <validation-provider name="Unit Purchase" :rules="{ required: true}">
                  <b-form-group slot-scope="{ valid, errors }" :label="$t('UnitPurchase') + ' ' + '*'">
                    <v-select
                      :class="{'is-invalid': !!errors.length}"
                      :state="errors[0] ? false : (valid ? true : null)"
                      v-model="product.unit_purchase_id"
                      :placeholder="$t('Choose_Unit_Purchase')"
                      :reduce="label => label.value"
                      :options="units_sub.map(units_sub => ({label: units_sub.name, value: units_sub.id}))"
                    />
                    <b-form-invalid-feedback>{{ errors[0] }}</b-form-invalid-feedback>
                  </b-form-group>
                </validation-provider>
              </b-col>-->


              <!-- Order Tax -->

              <!--<b-col md="6" sm="6" >
                <validation-provider name="VAT " :rules="{ required: true}">
                  <b-form-group slot-scope="{ valid, errors }" :label="$t('OrderTax') + ' ' + '*'">
                    <v-select
                      :class="{'is-invalid': !!errors.length}"
                      :state="errors[0] ? false : (valid ? true : null)"
                      v-model="product.TaxNet"
                      :reduce="label => label.value"
                      :placeholder="$t('Choose')"
                      :options="
                          [
                            {label: '17%', value: '17'},
                            {label: '16%', value: '16'},
                            {label: '5%', value: '5'},
                            {label: '3%', value: '3'},
                            {label: 'Isento', value: '0'},
                          ]"
                    ></v-select>
                    <b-form-invalid-feedback>{{ errors[0] }}</b-form-invalid-feedback>
                  </b-form-group>
                </validation-provider>
              </b-col>-->
              <!--<b-col md="6" sm="6">
                <validation-provider
                  name="Order Tax"
                  :rules="{regex: /^\d*\.?\d*$/}"
                  v-slot="validationContext"
                >
                  <b-form-group :label="$t('OrderTax')" >
                    <div class="input-group">
                      <input
                        :state="getValidationState(validationContext)"
                        aria-describedby="OrderTax-feedback"
                        v-model.number="product.TaxNet"
                        type="text"
                        class="form-control"
                      >
                      <div class="input-group-append">
                        <span class="input-group-text">%</span>
                      </div>
                    </div>
                    <b-form-invalid-feedback
                      id="OrderTax-feedback"
                    >{{ validationContext.errors[0] }}</b-form-invalid-feedback>
                  </b-form-group>
                </validation-provider>
              </b-col>-->

              <!--Product exemption reasons-->
             <!-- <b-col md="12" sm="12" lg="12">
                <b-form-group :label="$t('Exemption_Motives')">
                  <textarea
                    rows="2"
                    class="form-control"
                    :placeholder="$t('Afewwords')"
                    v-model="product.motivoIsencao"
                  ></textarea>
                </b-form-group>
              </b-col>-->

                 <!-- Multiple Variants -->
                  <b-col md="12 mb-2" sm="12 mb-2" lg="12 mb-2">
                    <ValidationProvider rules vid="product" v-slot="x">
                      <div class="form-check">
                        <label class="checkbox checkbox-outline-primary">
                          <input type="checkbox" v-model="product.is_variant">
                          <h5>{{$t('ProductHasMultiVariants')}}</h5>
                          <span class="checkmark"></span>
                        </label>
                      </div>
                    </ValidationProvider>
                  </b-col>
                  <b-col md="12 mb-5" sm="12 mb-5" lg="12 mb-5" v-show="product.is_variant">
                    <vue-tags-input
                      placeholder="+ add"
                      v-model="tag"
                      :tags="variants"
                      class="tag-custom text-15"
                      @adding-duplicate="showNotifDuplicate()"
                      @tags-changed="newTags => variants = newTags"
                    />
                  </b-col>

                  <!-- Product_Has_Imei_Serial_number -->
                   <b-col md="12 mb-2" sm="12 mb-2" lg="12 mb-2">
                    <ValidationProvider rules vid="product" v-slot="x">
                      <div class="form-check">
                        <label class="checkbox checkbox-outline-primary">
                          <input type="checkbox" v-model="product.is_imei">
                          <h5>{{$t('Product_Has_Imei_Serial_number')}}</h5>
                          <span class="checkmark"></span>
                        </label>
                      </div>
                    </ValidationProvider>
                  </b-col>  

              </b-row>
            </b-card>         
          </b-col>

          <!--############## RIGHT SIDE CARD##############-->
          <b-col md="4" sm="4" lg="4">
            <!-- upload-multiple-image -->
            <b-card>
              <div class="card-header">
                <h5>{{$t('MultipleImage')}}</h5>
              </div>
              <div class="card-body">
                <b-row class="form-group">
                  <b-col md="12" style="top:-14px">
                    <div
                      id="my-strictly-unique-vue-upload-multiple-image"
                      class="d-flex justify-content-center"
                      style="width: 100%"
                    >
                      <vue-upload-multiple-image
                      @upload-success="uploadImageSuccess"
                      @before-remove="beforeRemove"
                      :dragText="$t('Drag_Drop_Multiple_images_For_product')"
                      :dropText="$t('Drag_Drop_image')"
                      :browseText="$t('or_select')"
                      accept=image/gif,image/jpeg,image/png,image/bmp,image/jpg
                      primaryText='success'
                      markIsPrimaryText='success'
                      popupText='have been successfully uploaded'
                      :data-images="images"
                      idUpload="myIdUpload"
                      :showEdit="false"
                      />
                    </div>
                  </b-col>

                 <!-- Brand  -->
              <!--<b-col md="12" sm="12" lg="12">
                <b-form-group :label="$t('Brand')" style="top:-12px; left:-30px">
                  <v-select
                  style="width: 230px"
                  :placeholder="$t('Choose_Brand')"
                    :reduce="label => label.value"
                    v-model="product.brand_id"
                    :options="brands.map(brands => ({label: brands.name, value: brands.id}))"
                  />
                </b-form-group>
              </b-col>-->
          
                <!-- Stock Min -->
                <!--<b-col md="12" sm="12" lg="12">
                  <validation-provider
                    name="Stock Alert"
                    :rules="{ regex: /^\d*\.?\d*$/}"
                    v-slot="validationContext"
                  >
                    <b-form-group :label="$t('StockMin')" style="top:-10px;left:-30px">
                      <b-form-input
                      style="width: 230px"
                      :state="getValidationState(validationContext)"
                        aria-describedby="StockMin-feedback"
                        label="Stock alert"
                        :placeholder="$t('Enter_Stock_min')"
                        v-model="product.stockmin"
                      ></b-form-input>
                      <b-form-invalid-feedback
                        id="StockMin-feedback"
                      >{{ validationContext.errors[0] }}</b-form-invalid-feedback>
                    </b-form-group>
                  </validation-provider>
                </b-col>-->

              <!--Quantidade Stock max de produto-->
              <!--<b-col md="12" sm="12" lg="12">
                <validation-provider
                  name="Product StockMax"
                  v-slot="validationContext"
                >
                  <b-form-group :label="$t('ProductStockMax') + ' ' + '*'" style="top:-10px;left:-30px">
                    <b-form-input
                    style="width: 230px"
                    :state="getValidationState(validationContext)"
                      aria-describedby="ProductStockMax-feedback"
                      label="ProductQty"
                      :placeholder="$t('Enter_Product_StockMax')"
                      v-model="product.stockmax"
                    ></b-form-input>
                    <b-form-invalid-feedback
                      id="ProductStockMax-feedback"
                    >{{ validationContext.errors[0] }}</b-form-invalid-feedback>
                  </b-form-group>
                </validation-provider>
              </b-col>-->
              <!-- Barcode Symbology  -->
              <!--<b-col md="12" sm="12" >
                <validation-provider name="Barcode Symbology" :rules="{ required: true}">
                  <b-form-group slot-scope="{ valid, errors }" :label="$t('BarcodeSymbology') + ' ' + '*'" style="top:-10px;left:-20px">
                    <v-select
                    style="width:200px"
                      :class="{'is-invalid': !!errors.length}"
                      :state="errors[0] ? false : (valid ? true : null)"
                      v-model="product.Type_barcode"
                      :reduce="label => label.value"
                      :placeholder="$t('Choose_Symbology')"
                      :options="
                          [
                            {label: 'Code 128', value: 'CODE128'},
                            {label: 'Code 39', value: 'CODE39'},
                            {label: 'EAN8', value: 'EAN8'},
                            {label: 'EAN13', value: 'EAN13'},
                            {label: 'UPC', value: 'UPC'},
                          ]"
                    ></v-select>
                    <b-form-invalid-feedback>{{ errors[0] }}</b-form-invalid-feedback>
                  </b-form-group>
                </validation-provider>
              </b-col>-->


              <!-- Stock Alert -->
              <b-col md="12" sm="12" lg="12">
                <validation-provider
                  name="Stock Alert"
                  :rules="{ regex: /^\d*\.?\d*$/}"
                  v-slot="validationContext"
                >
                  <b-form-group :label="$t('StockAlert')" style="top:-10px;left:-30px">
                    <b-form-input
                    style="width: 230px"
                    :state="getValidationState(validationContext)"
                      aria-describedby="StockAlert-feedback"
                      label="Stock alert"
                      :placeholder="$t('Enter_Stock_alert')"
                      v-model="product.stock_alert"
                    ></b-form-input>
                    <b-form-invalid-feedback
                      id="StockAlert-feedback"
                    >{{ validationContext.errors[0] }}</b-form-invalid-feedback>
                  </b-form-group>
                </validation-provider>
              </b-col>

              
              <!-- Tax Method -->
              <!--<b-col lg="12" md="12" sm="12">
                <validation-provider name="Tax Method" :rules="{ required: true}">
                  <b-form-group slot-scope="{ valid, errors }" :label="$t('TaxMethod') + ' ' + '*'" style="top:-10px; left:-30px">
                    <v-select
                    style="width: 230px"
                    :class="{'is-invalid': !!errors.length}"
                      :state="errors[0] ? false : (valid ? true : null)"
                      v-model="product.tax_method"
                      :reduce="label => label.value"
                      :placeholder="$t('Choose_Method')"
                      :options="
                         [
                          {label: 'Exclusive', value: '1'},
                          {label: 'Inclusive', value: '2'}
                         ]"
                    />
                    <b-form-invalid-feedback>{{ errors[0] }}</b-form-invalid-feedback>
                  </b-form-group>
                </validation-provider>
              </b-col>-->

                </b-row>
              </div>
            </b-card>
          </b-col>
        </b-row>
      </b-form>
    </validation-observer> 

<!--Create Provider Form Provider -->
 <validation-observer ref="Create_Provider">
  <b-modal hide-footer size="lg" id="New_Provider" :title="$t('Add')">
    <b-form @submit.prevent="Submit_Provider">
      <b-row>
        <!-- Provider Name -->
        <b-col md="6" sm="6" lg="6">
          <validation-provider
            name="Name Provider"
            :rules="{ required: true}"
            v-slot="validationContext"
          >
            <b-form-group :label="$t('SupplierName') + ' ' + '*'">
              <b-form-input
                :state="getValidationState(validationContext)"
                aria-describedby="name-feedback"
                label="name"
                v-model="provider.name"
                :placeholder="$t('SupplierName')"
              ></b-form-input>
              <b-form-invalid-feedback id="name-feedback">{{ validationContext.errors[0] }}</b-form-invalid-feedback>
            </b-form-group>
          </validation-provider>
        </b-col>

        <!-- Provider Email -->
        <b-col md="6" sm="12">
          <validation-provider
            name="Email Provider"
            :rules="{ required: true}"
            v-slot="validationContext"
          >
            <b-form-group :label="$t('Email') + ' ' + '*'">
              <b-form-input
                :state="getValidationState(validationContext)"
                aria-describedby="Email-feedback"
                label="Email"
                v-model="provider.email"
                :placeholder="$t('Email')"
              ></b-form-input>
              <b-form-invalid-feedback id="Email-feedback">{{ validationContext.errors[0] }}</b-form-invalid-feedback>
            </b-form-group>
          </validation-provider>
        </b-col>

        <!-- Provider Phone -->
        <b-col md="6" sm="12">
            <b-form-group :label="$t('Phone')">
              <b-form-input
                label="Phone"
                v-model="provider.phone"
                :placeholder="$t('Phone')"
              ></b-form-input>
            </b-form-group>
        </b-col>

        <!-- Provider Country -->
        <b-col md="6" sm="12">
            <b-form-group :label="$t('Country')">
              <b-form-input
                label="Country"
                v-model="provider.country"
                :placeholder="$t('Country')"
              ></b-form-input>
            </b-form-group>
        </b-col>

        <!-- Provider City -->
        <b-col md="6" sm="12">
            <b-form-group :label="$t('City')">
              <b-form-input
                label="City"
                v-model="provider.city"
                :placeholder="$t('City')"
              ></b-form-input>
            </b-form-group>
        </b-col>

        <!-- Provider Adress -->
        <b-col md="6" sm="12">
            <b-form-group :label="$t('Adress')">
              <b-form-input
                label="Adress"
                v-model="provider.adresse"
                :placeholder="$t('Adress')"
              ></b-form-input>
            </b-form-group>
        </b-col>

        <b-col md="12" class="mt-3">
            <b-button variant="primary" type="submit"  :disabled="SubmitProcessing">{{$t('submit')}}</b-button>
              <div v-once class="typo__p" v-if="SubmitProcessing">
                <div class="spinner sm spinner-primary mt-3"></div>
              </div>
        </b-col>

      </b-row>
    </b-form>
  </b-modal>
</validation-observer>

    <!--Create Category Form Modal-->
    
    <validation-observer ref="Create_Category">
      <b-modal hide-footer size="md" id="New_Category" :title="$t('Add')">
        <b-form @submit.prevent="Submit_Category">
          <b-row>

            <!-- Code category -->
            <b-col md="12">
              <validation-provider
                name="Code category"
                :rules="{ required: true}"
                v-slot="validationContext"
              >
                <b-form-group :label="$t('Codecategorie') + ' ' + '*'">
                  <b-form-input
                    :placeholder="$t('Enter_Code_category')"
                    :state="getValidationState(validationContext)"
                    aria-describedby="Code-feedback"
                    label="Code"
                    v-model="category.code"
                  ></b-form-input>
                  <b-form-invalid-feedback id="Code-feedback">{{ validationContext.errors[0] }}</b-form-invalid-feedback>
                </b-form-group>
              </validation-provider>
            </b-col>

            <!-- Name category -->
            <b-col md="12">
              <validation-provider
                name="Name category"
                :rules="{ required: true}"
                v-slot="validationContext"
              >
                <b-form-group :label="$t('Namecategorie') + ' ' + '*'">
                  <b-form-input
                    :placeholder="$t('Enter_name_category')"
                    :state="getValidationState(validationContext)"
                    aria-describedby="Name-feedback"
                    label="Name"
                    v-model="category.name"
                  ></b-form-input>
                  <b-form-invalid-feedback id="Name-feedback">{{ validationContext.errors[0] }}</b-form-invalid-feedback>
                </b-form-group>
              </validation-provider>
            </b-col>

             <b-col md="12" class="mt-3">
                <b-button variant="primary" type="submit"  :disabled="SubmitProcessing">{{$t('submit')}}</b-button>
                  <div v-once class="typo__p" v-if="SubmitProcessing">
                    <div class="spinner sm spinner-primary mt-3"></div>
                  </div>
            </b-col>

          </b-row>
        </b-form>
      </b-modal>
    </validation-observer>

    
    <!--Add new unit modal-->
    <validation-observer ref="Create_Unit">

      <b-modal hide-footer size="md" id="New_Unit" :title="$t('Add')">
        <b-form @submit.prevent="Submit_Unit">

          <div v-if="isLoading" class="loading_page spinner spinner-primary mr-3"></div>

          <b-row  v-if="!isLoading">

            <!-- Name -->
            <b-col md="12">
              <validation-provider
                name="Code Currency"
                :rules="{ required: true , max:15}"
                v-slot="validationContext"
              >
                <b-form-group :label="$t('Name') + ' ' + '*'">
                  <b-form-input
                    :placeholder="$t('Enter_Name_Unit')"
                    :state="getValidationState(validationContext)"
                    aria-describedby="Name-feedback"
                    label="Name"
                    v-model="unit.name"
                  ></b-form-input>
                  <b-form-invalid-feedback id="Name-feedback">{{ validationContext.errors[0] }}</b-form-invalid-feedback>
                </b-form-group>
              </validation-provider>
            </b-col>

            <!-- ShortName -->
            <b-col md="12">
              <validation-provider
                name="ShortName"
                :rules="{ required: true , max:15}"
                v-slot="validationContext"
              >
                <b-form-group :label="$t('ShortName') + ' ' + '*'">
                  <b-form-input
                    :placeholder="$t('Enter_ShortName_Unit')"
                    :state="getValidationState(validationContext)"
                    aria-describedby="ShortName-feedback"
                    label="ShortName"
                    v-model="unit.ShortName"
                  ></b-form-input>
                  <b-form-invalid-feedback id="ShortName-feedback">{{ validationContext.errors[0] }}</b-form-invalid-feedback>
                </b-form-group>
              </validation-provider>
            </b-col>

            <!-- Base unit -->
            <b-col md="12">
              <b-form-group :label="$t('BaseUnit')">
                <v-select
                  @input="Selected_Base_Unit"
                  v-model="unit.base_unit"
                  :reduce="label => label.value"
                  :placeholder="$t('Choose_Base_Unit')"
                  :options="units_base.map(units_base => ({label: units_base.name, value: units_base.id}))"
                />
              </b-form-group>
            </b-col>


            <!-- operator  -->
            <b-col md="12" v-show="show_operator">
              <b-form-group :label="$t('Operator')">
                <v-select
                  v-model="unit.operator"
                  :reduce="label => label.value"
                  :placeholder="$t('Choose_Operator')"
                  :options="
                        [
                        {label: 'Multiply (*)', value: '*'},
                        {label: 'Divide (/)', value: '/'},
                        ]"
                ></v-select>
              </b-form-group>
            </b-col>

            <!-- Operation Value -->
            <b-col md="12" v-show="show_operator">
              <validation-provider
                name="Operation Value"
                :rules="{ required: true , regex: /^\d*\.?\d*$/}"
                v-slot="validationContext"
              >
                <b-form-group :label="$t('OperationValue') + ' ' + '*'">
                  <b-form-input
                    :placeholder="$t('Enter_Operation_Value')"
                    :state="getValidationState(validationContext)"
                    aria-describedby="Operation-feedback"
                    label="Operation"
                    v-model="unit.operator_value"
                  ></b-form-input>
                  <b-form-invalid-feedback id="Operation-feedback">{{ validationContext.errors[0] }}</b-form-invalid-feedback>
                </b-form-group>
              </validation-provider>
            </b-col>
  
            <b-col md="12" class="mt-3">
              <b-button variant="primary" type="submit"  :disabled="SubmitProcessing">{{$t('submit')}}</b-button>
                <div v-once class="typo__p" v-if="SubmitProcessing">
                  <div class="spinner sm spinner-primary mt-3"></div>
                </div>
          </b-col>

          </b-row>
        </b-form>
      </b-modal>
    </validation-observer>
  </b-row>
  </div>
</template>


<script>
import VueUploadMultipleImage from "vue-upload-multiple-image";
import VueTagsInput from "@johmun/vue-tags-input";
import NProgress from "nprogress";
import { mapActions, mapGetters } from "vuex";

export default {
  metaInfo: {
    title: "Create Product"
  },
  data() {
    return {
      tag: "",
      len: 8,
      images: [],
      imageArray: [],
      change: false,
      isLoading: true,
      SubmitProcessing:false,
      serverParams: {
        columnFilters: {},
        sort: {
          field: "id",
          type: "desc"
        },
        page: 1,
        perPage: 10
      },
      data: new FormData(),
      categories: [],
      units: [],
      units_sub: [],
      units_base: [],
      editmode: false,
      show_operator: false,
      brands: [],
      roles: {},
      variants: [],    
      category: {
        id: "",
        name: "",
        code: ""
      },
      unit: {
        id: "",
        name: "",
        ShortName: "",
        base_unit: "",
        base_unit_name: "",
        operator: "*",
        operator_value: 1
      },
      providers: [],
      provider: {
        id: "",
        name: "",
        code: "",
        phone: "",
        email: "",
        country: "",
        city: "",
        adresse: ""
      },
      product: {
        name: "",
        //description: "",
        code: "",
        Type_barcode: "",
        cost: "",
        price: "",
        brand_id: "",
        provider_id: "",
        category_id: "",
        TaxNet: "0",
        tax_method: "1",
        unit_id: "",
        unit_sale_id: "",
        unit_purchase_id: "",
        stock_alert: "0",
        //type: "",
        //statusp: true,
        //product_qty: "0",
       // stockmin: "",
       // stockmax: "",
        image: "",
        note: "",
        is_variant: false,
        is_imei: false
      },
      code_exist: ""
    };
  },
  computed: {
    ...mapGetters(["currentUser", "currentUserPermissions"]),
  },
  components: {
    VueUploadMultipleImage,
    VueTagsInput
  },

  methods: {
    //---------------------------------------- Set To Strings-------------------------\\
    setToStrings() {
      // Simply replaces null values with strings=''
      if (this.unit.base_unit === null) {
        this.unit.base_unit = "";
      }
    },
    //------------- Submit Validation Create Product
    Submit_Product() {
      this.$refs.Create_Product.validate().then(success => {
        if (!success) {
          this.makeToast(
            "danger",
            this.$t("Please_fill_the_form_correctly"),
            this.$t("Failed")
          );
        } else {
          this.Create_Product();
        }
      });
    },

    //------ Toast
    makeToast(variant, msg, title) {
      this.$root.$bvToast.toast(msg, {
        title: title,
        variant: variant,
        solid: true
      });
    },



    //--------------------------Category Modal Form and Validation 

    // Submit Validation Create Category
    Submit_Category() {
      this.$refs.Create_Category.validate().then(success => {
        if (!success) {
          this.makeToast(
            "danger",
            this.$t("Please_fill_the_form_correctly"),
            this.$t("Failed")
          );
        } else {
          this.Create_Category();
        }
      });
    },

    //Modal  (create category) 
    New_category() {
      this.reset_Form_Category();
      //this.editmode = false;
      this.$bvModal.show("New_Category");
    },

    //reset Category Form

    reset_Form_Category() {
      this.category = {
        id: "",
        name: "",
        code: ""
      };
    },
    
    //Create new Category
    Create_Category() {
     // this.SubmitProcessing = true;
      axios
        .post("categories", {
          name: this.category.name,
          code: this.category.code
        })
        .then(response => {
          //this.SubmitProcessing = false;
          NProgress.done();
          Fire.$emit("Event_Category");
          this.makeToast(
            "success",
            this.$t("Create.TitleCat"),
            this.$t("Success")
          );
          this.Get_Categories_Without_Paginate();
          this.$bvModal.hide("New_Category");
        })
        .catch(error => {
          //this.SubmitProcessing = false;
          NProgress.done();
          this.makeToast("danger", this.$t("InvalidData"), this.$t("Failed"));
        });
    },


    
    //--------------------------Unit Modal Form and Validation 

    // Submit Validation Create Unit
    Submit_Unit() {
      this.$refs.Create_Unit.validate().then(success => {
        if (!success) {
          this.makeToast(
            "danger",
            this.$t("Please_fill_the_form_correctly"),
            this.$t("Failed")
          );
        } else {
          this.Create_Unit();
        }
      });
    },

    //Modal  (create unit) 
    New_Unit() {
      this.reset_Form_Unit();
      //this.editmode = false;
      this.$bvModal.show("New_Unit");
    },

    //reset Unit Form

    reset_Form_Unit() {
      this.unit = {
        id: "",
        name: "",
        ShortName: "",
        base_unit: "",
        base_unit_name: "",
        operator: "*",
        operator_value: 1
      };
    },
    
    //Create new Unit
    Create_Unit() {
      //this.SubmitProcessing = true;
      this.setToStrings();
      axios
        .post("units", {
          name: this.unit.name,
          ShortName: this.unit.ShortName,
          base_unit: this.unit.base_unit,
          operator: this.unit.operator,
          operator_value: this.unit.operator_value
        })
        .then(response => {
           //this.SubmitProcessing = false;
           NProgress.done();

          Fire.$emit("Event_Unit");

          this.makeToast(
            "success",
            this.$t("Create.TitleUnit"),
            this.$t("Success")
          );
           this.Get_Units_Without_Paginate();        
           this.$bvModal.hide("New_Unit");
        })
        .catch(error => {
           //this.SubmitProcessing = false;
           NProgress.done();

          this.makeToast("danger", this.$t("InvalidData"), this.$t("Failed"));
        });
    },

    //------ Toast
    /*makeToast(variant, msg, title) {
      this.$root.$bvToast.toast(msg, {
        title: title,
        variant: variant,
        solid: true
      });
    },*/

    

    //---------------------------------------- Set To Strings-------------------------\\
    setToStrings() {
      // Simply replaces null values with strings=''
      if (this.unit.base_unit === null) {
        this.unit.base_unit = "";
      }
    },
//--------------Form Provider Modal--------------------------///

//Submit Providers Modal Form
Submit_Provider() {
      this.$refs.Create_Provider.validate().then(success => {
        if (!success) {
          this.makeToast(
            "danger",
            this.$t("Please_fill_the_form_correctly"),
            this.$t("Failed")
          );
        } else {
          
            this.Create_Provider();
         
        }
      });
    },

    
    //---------------------------- Create Provider  -----------------------\\
    Create_Provider() {
      //this.SubmitProcessing = true;
      axios
        .post("providers", {
          name: this.provider.name,
          email: this.provider.email,
          phone: this.provider.phone,
          country: this.provider.country,
          city: this.provider.city,
          adresse: this.provider.adresse
        })
        .then(response => {
          //this.SubmitProcessing = false;
          NProgress.done();
          Fire.$emit("Event_Provider");

          this.makeToast(
            "success",
            this.$t("Create.TitleSupplier"),
            this.$t("Success")
          );

          this.Get_Providers_Without_Paginate();
          this.$bvModal.hide("New_Provider");

        })
        .catch(error => {
          //this.SubmitProcessing = false;
          NProgress.done();
          this.makeToast("danger", this.$t("InvalidData"), this.$t("Failed"));
          
        });
    },

New_Provider() {
      this.reset_Form_Provider();
    //this.editmode = false;
      this.$bvModal.show("New_Provider");
    },
    
    reset_Form_Provider() {
      this.provider = {
        id: "",
        name: "",
        phone: "",
        email: "",
        country: "",
        city: "",
        adresse: ""
      };
    },

//------Get Units Without Paginate
Get_Units_Without_Paginate() {
      axios
        .get("Get_Units_Without_Paginate")
        .then(({ data }) => (this.units = data));
    },


    //-----Get Categories Without Paginate
Get_Categories_Without_Paginate() {
      axios
        .get("Get_Categories_Without_Paginate")
        .then(({ data }) => (this.categories = data));
    },

    //------Get Providers Without Paginate
Get_Providers_Without_Paginate() {
      axios
        .get("Get_Providers_Without_Paginate")
        .then(({ data }) => (this.providers = data));
    },

    //------ Validation State
    getValidationState({ dirty, validated, valid = null }) {
      return dirty || validated ? valid : null;
    },

    //------Show Notification If Variant is Duplicate
    showNotifDuplicate() {
      this.makeToast(
        "warning",
        this.$t("VariantDuplicate"),
        this.$t("Warning")
      );
    },

    //------ Event upload Image Success
    uploadImageSuccess(formData, index, fileList, imageArray) {
      this.images = fileList;
    },

    //------ Event before Remove Image
    beforeRemove(index, done, fileList) {
      var remove = confirm("remove image");
      if (remove == true) {
        this.images = fileList;
        done();
      } else {
      }
    },

    //-------------- Product Get Elements
    GetElements() {
      axios
        .get("Products/create")
        .then(response => {
          this.categories = response.data.categories;
         this.brands = response.data.brands;
          this.units = response.data.units;
          this.providers = response.data.providers;
          this.isLoading = false;
        })
        .catch(response => {
          setTimeout(() => {
            this.isLoading = false;
          }, 500);
          this.makeToast("danger", this.$t("InvalidData"), this.$t("Failed"));
        });
    },

    //---------------------- Get Sub Units with Unit id ------------------------------\\
    Get_Units_SubBase(value) {
      axios
        .get("Get_Units_SubBase?id=" + value)
        .then(({ data }) => (this.units_sub = data));
    },

    //---------------------- Event Select Unit Product ------------------------------\\
    Selected_Unit(value) {
      this.units_sub = [];
      this.product.unit_sale_id =  "";
      this.product.unit_purchase_id = "";
      this.Get_Units_SubBase(value);
    },

    //------------------------------ Create new Product ------------------------------\\
    Create_Product() {
      // Start the progress bar.
      NProgress.start();
      NProgress.set(0.1);
      var self = this;
     // self.statusp=true;

      self.SubmitProcessing = true;

      if (self.product.is_variant && self.variants.length <= 0) {
        self.product.is_variant = false;
      }
      // append objet product
      Object.entries(self.product).forEach(([key, value]) => {
        self.data.append(key, value);
      });

      // append array variants
      if (self.variants.length) {
        for (var i = 0; i < self.variants.length; i++) {
          self.data.append("variants[" + i + "]", self.variants[i].text);
        }
      }
      //append array images
      if (self.images.length > 0) {
        for (var k = 0; k < self.images.length; k++) {
          Object.entries(self.images[k]).forEach(([key, value]) => {
            self.data.append("images[" + k + "][" + key + "]", value);
          });
        }
      }

      // Send Data with axios
      axios
        .post("Products", self.data)
        .then(response => {
          // Complete the animation of theprogress bar.
          NProgress.done();
          self.SubmitProcessing = false;
          this.$router.push({ name: "index_products" });
          this.makeToast(
            "success",
            this.$t("Successfully_Created"),
            this.$t("Success")
          );
        })
        .catch(error => {
          // Complete the animation of theprogress bar.
          NProgress.done();
          if (error.errors.code.length > 0) {
            self.code_exist = error.errors.code[0];
          }
          this.makeToast("danger", this.$t("InvalidData"), this.$t("Failed"));
          self.SubmitProcessing = false;
        });
    }
  }, //end Methods

  //-----------------------------Created function-------------------

  created: function() {
    this.GetElements();
  }
};
</script>
