<template>
    <section class="section p-0 mt--50">
        <div class="container">
            <div class="spacer py-6"></div>

                <div class="row">
                    <div class="col-md-12 text-center">
                        <a class="site-logo" href="/home">
                            <img class="img-fluid" width="25%" src="/images/logo.png" alt="SiGERP" />
                        </a>
                        <h3 class="mb-0">{{$t("Saas_Business_Accounting_Software")}}</h3>
                        <h5 class="mt-2">{{$t("SiGERP")}}<span> {{$t("Helps_Entrepreneurs_to_manage_their_business_finances_HR")}}</span></h5>
                    </div>
                </div>
    
                <div class="spacer py-2"></div>
               
                <div class="row" >
                    <ul class="progressbar" data-aos="zoom-in-up">
                        <li class="step_1 text-white"><a href="/register">{{$t("SignUp")}} </a></li>
                        <li class="step_2 active text-white"><a href="/registerStep2">{{$t("Business")}}</a></li>
                    </ul>
                </div>
    
                <div class="spacer py-2"></div>

             <!--############User registration form (Step 2)#############-->

                <div class="business_area justify-content-md-center mt-0" >
                    <div class="row">
                        <div class="col-md-6 col-lg-6 col-sm-12 text-left d-none d-md-block" data-aos="fade-up">
                            <img src="front/img/business.jpg">
                        </div>
    
                        <div class="col-md-6 col-lg-6 col-sm-12 text-left" data-aos="fade-down">
                            
                            <div class="spacer py-7"></div>
    
                            <form id="business_form" class="authorizationform authorizationform--shadow leave_con" method="post" action="https://accufy.originlabsoft.com/create-business">
                                <h4 class="title">Setup your first Business</h4>
                                <div class="input-wrp">
                                    <input class="textfield textfield--grey" type="text" name="name" placeholder="Business Name" />
                                </div>
    
                                <div class="input-wrp">
                                    <select class="selectfield textfield--grey single_select col-sm-12 wd-100" id="country" name="country" style="width: 100%">
                                        <option value="">Select country</option>
                                                                                <option value="1" 
                                                >
                                                Andorra                                        </option>
                                                                                <option value="2" 
                                                >
                                                United Arab Emirates                                        </option>
                                                                                <option value="3" 
                                                >
                                                Afghanistan                                        </option>
                                                                                <option value="4" 
                                                >
                                                Antigua and Barbuda                                        </option>
                                                                                <option value="5" 
                                                >
                                                Anguilla                                        </option>
                                                                                <option value="6" 
                                                >
                                                Albania                                        </option>
                                                                                <option value="7" 
                                                >
                                                Armenia                                        </option>
                                                                                <option value="8" 
                                                >
                                                Angola                                        </option>
                                                                                <option value="9" 
                                                >
                                                Argentina                                        </option>
                                                                                <option value="10" 
                                                >
                                                Austria                                        </option>
                                                                                <option value="11" 
                                                >
                                                Australia                                        </option>
                                                                                <option value="12" 
                                                >
                                                Aruba                                        </option>
                                                                                <option value="13" 
                                                >
                                                Azerbaijan                                        </option>
                                                                                <option value="14" 
                                                >
                                                Barbados                                        </option>
                                                                                <option value="15" 
                                                >
                                                Bangladesh                                        </option>
                                                                                <option value="16" 
                                                >
                                                Belgium                                        </option>
                                                                                <option value="17" 
                                                >
                                                Burkina Faso                                        </option>
                                                                                <option value="18" 
                                                >
                                                Bulgaria                                        </option>
                                                                                <option value="19" 
                                                >
                                                Bahrain                                        </option>
                                                                                <option value="20" 
                                                >
                                                Burundi                                        </option>
                                                                                <option value="21" 
                                                >
                                                Benin                                        </option>
                                                                                <option value="22" 
                                                >
                                                Bermuda                                        </option>
                                                                                <option value="23" 
                                                >
                                                Brazil                                        </option>
                                                                                <option value="24" 
                                                >
                                                Bhutan                                        </option>
                                                                                <option value="25" 
                                                >
                                                Botswana                                        </option>
                                                                                <option value="26" 
                                                >
                                                Belarus                                        </option>
                                                                                <option value="27" 
                                                >
                                                Belize                                        </option>
                                                                                <option value="28" 
                                                >
                                                Canada                                        </option>
                                                                                <option value="29" 
                                                >
                                                Switzerland                                        </option>
                                                                                <option value="30" 
                                                >
                                                Cote d&#039;Ivoire                                        </option>
                                                                                <option value="31" 
                                                >
                                                Cook Islands                                        </option>
                                                                                <option value="32" 
                                                >
                                                Chile                                        </option>
                                                                                <option value="33" 
                                                >
                                                Cameroon                                        </option>
                                                                                <option value="34" 
                                                >
                                                China                                        </option>
                                                                                <option value="35" 
                                                >
                                                Colombia                                        </option>
                                                                                <option value="36" 
                                                >
                                                Costa Rica                                        </option>
                                                                                <option value="37" 
                                                >
                                                Cuba                                        </option>
                                                                                <option value="38" 
                                                >
                                                Cape Verde                                        </option>
                                                                                <option value="39" 
                                                >
                                                Cyprus                                        </option>
                                                                                <option value="40" 
                                                >
                                                Czech Republic                                        </option>
                                                                                <option value="41" 
                                                >
                                                Germany                                        </option>
                                                                                <option value="42" 
                                                >
                                                Djibouti                                        </option>
                                                                                <option value="43" 
                                                >
                                                Denmark                                        </option>
                                                                                <option value="44" 
                                                >
                                                Dominica                                        </option>
                                                                                <option value="45" 
                                                >
                                                Dominican Republic                                        </option>
                                                                                <option value="46" 
                                                >
                                                Algeria                                        </option>
                                                                                <option value="47" 
                                                >
                                                Ecuador                                        </option>
                                                                                <option value="48" 
                                                >
                                                Estonia                                        </option>
                                                                                <option value="49" 
                                                >
                                                Egypt                                        </option>
                                                                                <option value="50" 
                                                >
                                                Eritrea                                        </option>
                                                                                <option value="51" 
                                                >
                                                Spain                                        </option>
                                                                                <option value="52" 
                                                >
                                                Ethiopia                                        </option>
                                                                                <option value="53" 
                                                >
                                                Finland                                        </option>
                                                                                <option value="54" 
                                                >
                                                Fiji                                        </option>
                                                                                <option value="55" 
                                                >
                                                Faroe Islands                                        </option>
                                                                                <option value="56" 
                                                >
                                                France                                        </option>
                                                                                <option value="57" 
                                                >
                                                Gabon                                        </option>
                                                                                <option value="58" 
                                                >
                                                United Kingdom                                        </option>
                                                                                <option value="59" 
                                                >
                                                Grenada                                        </option>
                                                                                <option value="60" 
                                                >
                                                Georgia                                        </option>
                                                                                <option value="61" 
                                                >
                                                Guernsey                                        </option>
                                                                                <option value="62" 
                                                >
                                                Ghana                                        </option>
                                                                                <option value="63" 
                                                >
                                                Gibraltar                                        </option>
                                                                                <option value="64" 
                                                >
                                                Guinea                                        </option>
                                                                                <option value="65" 
                                                >
                                                Equatorial Guinea                                        </option>
                                                                                <option value="66" 
                                                >
                                                Greece                                        </option>
                                                                                <option value="67" 
                                                >
                                                Guatemala                                        </option>
                                                                                <option value="68" 
                                                >
                                                Guinea-Bissau                                        </option>
                                                                                <option value="69" 
                                                >
                                                Guyana                                        </option>
                                                                                <option value="70" 
                                                >
                                                Hong Kong                                        </option>
                                                                                <option value="71" 
                                                >
                                                Honduras                                        </option>
                                                                                <option value="72" 
                                                >
                                                Croatia                                        </option>
                                                                                <option value="73" 
                                                >
                                                Haiti                                        </option>
                                                                                <option value="74" 
                                                >
                                                Hungary                                        </option>
                                                                                <option value="75" 
                                                >
                                                Indonesia                                        </option>
                                                                                <option value="76" 
                                                >
                                                Ireland                                        </option>
                                                                                <option value="77" 
                                                >
                                                Israel                                        </option>
                                                                                <option value="78" 
                                                >
                                                Isle of Man                                        </option>
                                                                                <option value="79" 
                                                >
                                                India                                        </option>
                                                                                <option value="80" 
                                                >
                                                Iraq                                        </option>
                                                                                <option value="81" 
                                                >
                                                Iceland                                        </option>
                                                                                <option value="82" 
                                                >
                                                Italy                                        </option>
                                                                                <option value="83" 
                                                >
                                                Jersey                                        </option>
                                                                                <option value="84" 
                                                >
                                                Jamaica                                        </option>
                                                                                <option value="85" 
                                                >
                                                Jordan                                        </option>
                                                                                <option value="86" 
                                                >
                                                Japan                                        </option>
                                                                                <option value="87" 
                                                >
                                                Kenya                                        </option>
                                                                                <option value="88" 
                                                >
                                                Kyrgyzstan                                        </option>
                                                                                <option value="89" 
                                                >
                                                Cambodia                                        </option>
                                                                                <option value="90" 
                                                >
                                                Kiribati                                        </option>
                                                                                <option value="91" 
                                                >
                                                Comoros                                        </option>
                                                                                <option value="92" 
                                                >
                                                Kuwait                                        </option>
                                                                                <option value="93" 
                                                >
                                                Cayman Islands                                        </option>
                                                                                <option value="94" 
                                                >
                                                Kazakhstan                                        </option>
                                                                                <option value="95" 
                                                >
                                                Laos                                        </option>
                                                                                <option value="96" 
                                                >
                                                Lebanon                                        </option>
                                                                                <option value="97" 
                                                >
                                                Saint Lucia                                        </option>
                                                                                <option value="98" 
                                                >
                                                Liechtenstein                                        </option>
                                                                                <option value="99" 
                                                >
                                                Sri Lanka                                        </option>
                                                                                <option value="100" 
                                                >
                                                Liberia                                        </option>
                                                                                <option value="101" 
                                                >
                                                Lesotho                                        </option>
                                                                                <option value="102" 
                                                >
                                                Lithuania                                        </option>
                                                                                <option value="103" 
                                                >
                                                Luxembourg                                        </option>
                                                                                <option value="104" 
                                                >
                                                Latvia                                        </option>
                                                                                <option value="105" 
                                                >
                                                Morocco                                        </option>
                                                                                <option value="106" 
                                                >
                                                Monaco                                        </option>
                                                                                <option value="107" 
                                                >
                                                Moldova                                        </option>
                                                                                <option value="108" 
                                                >
                                                Montenegro                                        </option>
                                                                                <option value="109" 
                                                >
                                                Madagascar                                        </option>
                                                                                <option value="110" 
                                                >
                                                Marshall Islands                                        </option>
                                                                                <option value="111" 
                                                >
                                                Mali                                        </option>
                                                                                <option value="112" 
                                                >
                                                Myanmar                                        </option>
                                                                                <option value="113" 
                                                >
                                                Mongolia                                        </option>
                                                                                <option value="114" 
                                                >
                                                Mauritania                                        </option>
                                                                                <option value="115" 
                                                >
                                                Montserrat                                        </option>
                                                                                <option value="116" 
                                                >
                                                Malta                                        </option>
                                                                                <option value="117" 
                                                >
                                                Mauritius                                        </option>
                                                                                <option value="118" 
                                                >
                                                Maldives                                        </option>
                                                                                <option value="119" 
                                                >
                                                Malawi                                        </option>
                                                                                <option value="120" 
                                                >
                                                Mexico                                        </option>
                                                                                <option value="121" 
                                                >
                                                Malaysia                                        </option>
                                                                                <option value="122" 
                                                >
                                                Mozambique                                        </option>
                                                                                <option value="123" 
                                                >
                                                Namibia                                        </option>
                                                                                <option value="124" 
                                                >
                                                New Caledonia                                        </option>
                                                                                <option value="125" 
                                                >
                                                Niger                                        </option>
                                                                                <option value="126" 
                                                >
                                                Nigeria                                        </option>
                                                                                <option value="127" 
                                                >
                                                Nicaragua                                        </option>
                                                                                <option value="128" 
                                                >
                                                Netherlands                                        </option>
                                                                                <option value="129" 
                                                >
                                                Norway                                        </option>
                                                                                <option value="130" 
                                                >
                                                Nepal                                        </option>
                                                                                <option value="131" 
                                                >
                                                Nauru                                        </option>
                                                                                <option value="132" 
                                                >
                                                Niue                                        </option>
                                                                                <option value="133" 
                                                >
                                                New Zealand                                        </option>
                                                                                <option value="134" 
                                                >
                                                Oman                                        </option>
                                                                                <option value="135" 
                                                >
                                                Panama                                        </option>
                                                                                <option value="136" 
                                                >
                                                Peru                                        </option>
                                                                                <option value="137" 
                                                >
                                                French Polynesia                                        </option>
                                                                                <option value="138" 
                                                >
                                                Papua New Guinea                                        </option>
                                                                                <option value="139" 
                                                >
                                                Philippines                                        </option>
                                                                                <option value="140" 
                                                >
                                                Pakistan                                        </option>
                                                                                <option value="141" 
                                                >
                                                Poland                                        </option>
                                                                                <option value="142" 
                                                >
                                                Portugal                                        </option>
                                                                                <option value="143" 
                                                >
                                                Palau                                        </option>
                                                                                <option value="144" 
                                                >
                                                Paraguay                                        </option>
                                                                                <option value="145" 
                                                >
                                                Qatar                                        </option>
                                                                                <option value="146" 
                                                >
                                                Romania                                        </option>
                                                                                <option value="147" 
                                                >
                                                Serbia                                        </option>
                                                                                <option value="148" 
                                                >
                                                Russia                                        </option>
                                                                                <option value="149" 
                                                >
                                                Rwanda                                        </option>
                                                                                <option value="150" 
                                                >
                                                Saudi Arabia                                        </option>
                                                                                <option value="151" 
                                                >
                                                Solomon Islands                                        </option>
                                                                                <option value="152" 
                                                >
                                                Seychelles                                        </option>
                                                                                <option value="153" 
                                                >
                                                Sudan                                        </option>
                                                                                <option value="154" 
                                                >
                                                Sweden                                        </option>
                                                                                <option value="155" 
                                                >
                                                Singapore                                        </option>
                                                                                <option value="156" 
                                                >
                                                Slovenia                                        </option>
                                                                                <option value="157" 
                                                >
                                                Slovakia                                        </option>
                                                                                <option value="158" 
                                                >
                                                Sierra Leone                                        </option>
                                                                                <option value="159" 
                                                >
                                                San Marino                                        </option>
                                                                                <option value="160" 
                                                >
                                                Senegal                                        </option>
                                                                                <option value="161" 
                                                >
                                                Somalia                                        </option>
                                                                                <option value="162" 
                                                >
                                                Suriname                                        </option>
                                                                                <option value="163" 
                                                >
                                                El Salvador                                        </option>
                                                                                <option value="164" 
                                                >
                                                Swaziland                                        </option>
                                                                                <option value="165" 
                                                >
                                                Chad                                        </option>
                                                                                <option value="166" 
                                                >
                                                Togo                                        </option>
                                                                                <option value="167" 
                                                >
                                                Thailand                                        </option>
                                                                                <option value="168" 
                                                >
                                                Tajikistan                                        </option>
                                                                                <option value="169" 
                                                >
                                                Turkmenistan                                        </option>
                                                                                <option value="170" 
                                                >
                                                Tunisia                                        </option>
                                                                                <option value="171" 
                                                >
                                                Tonga                                        </option>
                                                                                <option value="172" 
                                                >
                                                Turkey                                        </option>
                                                                                <option value="173" 
                                                >
                                                Trinidad and Tobago                                        </option>
                                                                                <option value="174" 
                                                >
                                                Tuvalu                                        </option>
                                                                                <option value="175" 
                                                >
                                                Taiwan                                        </option>
                                                                                <option value="176" 
                                                >
                                                Ukraine                                        </option>
                                                                                <option value="177" 
                                                >
                                                Uganda                                        </option>
                                                                                <option value="178" 
                                                >
                                                United States                                        </option>
                                                                                <option value="179" 
                                                >
                                                Uruguay                                        </option>
                                                                                <option value="180" 
                                                >
                                                Uzbekistan                                        </option>
                                                                                <option value="181" 
                                                >
                                                Vietnam                                        </option>
                                                                                <option value="182" 
                                                >
                                                Vanuatu                                        </option>
                                                                                <option value="183" 
                                                >
                                                Wallis and Futuna                                        </option>
                                                                                <option value="184" 
                                                >
                                                Samoa                                        </option>
                                                                                <option value="185" 
                                                >
                                                Yemen                                        </option>
                                                                                <option value="186" 
                                                >
                                                South Africa                                        </option>
                                                                                <option value="187" 
                                                >
                                                Zambia                                        </option>
                                                                                <option value="188" 
                                                >
                                                Zimbabwe                                        </option>
                                                                        </select>
                                </div>
    
                                <div class="input-wrp">
                                    <select class="selectfield textfield--grey single_select col-sm-12 wd-100" name="category" style="width: 100%">
                                        <option value="">Select Business Type</option>
                                                                                <option value="1" 
                                                >
                                                Arts, crafts, and collectibles                                        </option>
                                                                                <option value="2" 
                                                >
                                                Baby                                        </option>
                                                                                <option value="3" 
                                                >
                                                Beauty and fragrances                                        </option>
                                                                                <option value="4" 
                                                >
                                                Books and magazines                                        </option>
                                                                                <option value="5" 
                                                >
                                                Business to business                                        </option>
                                                                                <option value="6" 
                                                >
                                                Clothing, accessories, and shoes                                        </option>
                                                                                <option value="7" 
                                                >
                                                Web, Computers, accessories, and services                                        </option>
                                                                                <option value="8" 
                                                >
                                                Education                                        </option>
                                                                                <option value="9" 
                                                >
                                                Electronics and telecom                                        </option>
                                                                                <option value="10" 
                                                >
                                                Entertainment and media                                        </option>
                                                                                <option value="11" 
                                                >
                                                Financial services and products                                        </option>
                                                                                <option value="12" 
                                                >
                                                Food retail and service                                        </option>
                                                                                <option value="13" 
                                                >
                                                Gifts and flowers                                        </option>
                                                                                <option value="14" 
                                                >
                                                Government                                        </option>
                                                                                <option value="15" 
                                                >
                                                Health and personal care                                        </option>
                                                                                <option value="16" 
                                                >
                                                Home and garden                                        </option>
                                                                                <option value="17" 
                                                >
                                                Nonprofit                                        </option>
                                                                                <option value="18" 
                                                >
                                                Pets and animals                                        </option>
                                                                                <option value="19" 
                                                >
                                                Religion and spirituality (for profit)                                        </option>
                                                                                <option value="20" 
                                                >
                                                Retail (not elsewhere classified)                                        </option>
                                                                                <option value="21" 
                                                >
                                                Services - other                                        </option>
                                                                                <option value="22" 
                                                >
                                                Sports and outdoors                                        </option>
                                                                                <option value="23" 
                                                >
                                                Toys and hobbies                                        </option>
                                                                                <option value="24" 
                                                >
                                                Travel                                        </option>
                                                                                <option value="25" 
                                                >
                                                Vehicle sales                                        </option>
                                                                                <option value="26" 
                                                >
                                                Vehicle service and accessories                                        </option>
                                                                                <option value="27" 
                                                >
                                                xyz                                        </option>
                                                                                <option value="28" 
                                                >
                                                toprakvara                                        </option>
                                                                                <option value="29" 
                                                >
                                                demo test - 1                                        </option>
                                                                                <option value="30" 
                                                >
                                                Cash                                        </option>
                                                                                <option value="31" 
                                                >
                                                Covid-19                                        </option>
                                                                                <option value="32" 
                                                >
                                                Sigorta                                        </option>
                                                                                <option value="33" 
                                                >
                                                logistics                                        </option>
                                                                                <option value="34" 
                                                >
                                                Real State                                        </option>
                                                                                <option value="35" 
                                                >
                                                Technology                                        </option>
                                                                                <option value="36" 
                                                >
                                                test                                        </option>
                                                                                <option value="37" 
                                                >
                                                Information Tech.                                        </option>
                                                                                <option value="38" 
                                                >
                                                North                                        </option>
                                                                                <option value="39" 
                                                >
                                                Journals and Magazines                                        </option>
                                                                                <option value="40" 
                                                >
                                                taxspa                                        </option>
                                                                                <option value="41" 
                                                >
                                                Retail Business                                        </option>
                                                                                <option value="42" 
                                                >
                                                Prestador de Serviço                                        </option>
                                                                                <option value="43" 
                                                >
                                                kk                                        </option>
                                                                                <option value="44" 
                                                >
                                                l                                        </option>
                                                                                <option value="45" 
                                                >
                                                emptorza                                        </option>
                                                                                <option value="46" 
                                                >
                                                Digitviewsh                                        </option>
                                                                                <option value="47" 
                                                >
                                                ?????                                        </option>
                                                                                <option value="48" 
                                                >
                                                catone                                        </option>
                                                                        </select>
                                </div>
    
                                <input type="hidden" name="csrf_test_name" value="472b33b053304699334cf79ba40c0ca0">
    
                                <button class="btn btn-primary btn-block loader_btn2" type="submit" role="button">Create</button>
                            </form>
                        </div>
                    </div>
                </div>
    
    
    
                <div class="loader"></div>
    
                <div class="pricing_area row justify-content-md-center mt-0 text-center" style="display: none;">
                   
                   <div class="spacer py-4"></div>
    
                    <h4 class="title">You are almost done!</h4>
                    <div class="col-md-12 col-lg-12 col-sm-12 text-left scroll-x" data-aos="fade-down">
                        <div class="pricing-table pricing-table--s4" data-aos="fade" data-aos-delay="150">
                            <div class="d-block">
                                <div class="col-md-4 text-center m-auto mb-20">
                                  <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                    <label class="btn btn-outline-primary custom-btngp">
                                      <input type="radio" name="payment_type" value="monthly" class="switch_price" id="monthly-1"> Monthly                                 </label>
                                    <label class="btn btn-outline-primary custom-btngp">
                                      <input type="radio" name="payment_type" value="yearly" class="switch_price" id="yearly-1" checked> Yearly                                </label>
                                  </div>
                                </div><br><br>
    
                                <table class="text-center rounded">
                                    <tbody>
                                        <thead class="thead mb-100">
    
                                            <tr class="">
                                                <th>
                                                    <div class="h2"></div>
                                                </th>
                                                                                                <th class="pt-40 text-center ">
                                                        <div class="header">
                                                            <div class="title h3">Basic </div>
                                                        </div>
                                                                                                              <h4>
                                                                                                                      <span class="monthly_show soft-blue" style="display: none;">
                                                                  5% Off                                                          </span>
                                                                                                                    
                                                                                                                      <span class="yearly_show soft-blue">
                                                                  10% Off                                                          </span>
                                                                                                                  </h4>
                                                                                                        </th>
                                                                                                <th class="pt-40 text-center colm_2">
                                                        <div class="header">
                                                            <div class="title h3">Standard </div>
                                                        </div>
                                                                                                              <h4>
                                                                                                                      <span class="monthly_show soft-blue" style="display: none;">
                                                                  5% Off                                                          </span>
                                                                                                                    
                                                                                                                      <span class="yearly_show soft-blue">
                                                                  10% Off                                                          </span>
                                                                                                                  </h4>
                                                                                                        </th>
                                                                                                <th class="pt-40 text-center ">
                                                        <div class="header">
                                                            <div class="title h3">Premium </div>
                                                        </div>
                                                                                                              <h4>
                                                                                                                      <span class="monthly_show soft-blue" style="display: none;">
                                                                  5% Off                                                          </span>
                                                                                                                    
                                                                                                                      <span class="yearly_show soft-blue">
                                                                  10% Off                                                          </span>
                                                                                                                  </h4>
                                                                                                        </th>
                                                                                        </tr>
    
                                            <tr>
                                                <td>
                                                    <h2></h2>
                                                </td>
                                                                                            <td class="p-0">
                                                    <div class="theader ">
                                                        <div class="price mb-5 ">
                                                     
                                                            <span class="price_year price-off">
                                                              Rp20                                                        </span>  
    
                                                                                                                      <span class="price_year">
                                                              Rp18                                                          </span>
                                                            
                                                            <span class="price_month price-off" style="display: none;">
                                                              Rp10 
                                                            </span>
    
                                                                                                                    <span class="price_month" style="display: none;">
                                                              Rp9.5                                                        </span>
                                                            
                                                        </div>
                                                        <p class="mt-0 bill_type">per year</p>
                                                    </div>
                                                </td>
                                                                                            <td class="p-0">
                                                    <div class="theader colm_2">
                                                        <div class="price mb-5 colm_2">
                                                     
                                                            <span class="price_year price-off">
                                                              Rp50                                                        </span>  
    
                                                                                                                      <span class="price_year">
                                                              Rp45                                                          </span>
                                                            
                                                            <span class="price_month price-off" style="display: none;">
                                                              Rp20 
                                                            </span>
    
                                                                                                                    <span class="price_month" style="display: none;">
                                                              Rp19                                                        </span>
                                                            
                                                        </div>
                                                        <p class="mt-0 bill_type">per year</p>
                                                    </div>
                                                </td>
                                                                                            <td class="p-0">
                                                    <div class="theader ">
                                                        <div class="price mb-5 ">
                                                     
                                                            <span class="price_year price-off">
                                                              Rp399                                                        </span>  
    
                                                                                                                      <span class="price_year">
                                                              Rp359.1                                                          </span>
                                                            
                                                            <span class="price_month price-off" style="display: none;">
                                                              Rp199 
                                                            </span>
    
                                                                                                                    <span class="price_month" style="display: none;">
                                                              Rp189.05                                                        </span>
                                                            
                                                        </div>
                                                        <p class="mt-0 bill_type">per year</p>
                                                    </div>
                                                </td>
                                                                                        </tr>
                                        </thead>
                                        
                                                                                <tr class="monthly_row" style="display: none">
                                                <td class="text-right">Invoices</td>
                                                <td class="text-center">
                                                                                              40                                                                                      </td>
                                              <td class="text-center colm_2">
                                                                                              100                                                                                      </td>
                                              <td class="text-center">
                                                                                              2000                                                                                      </td>
                                            </tr>
                                                                                <tr class="monthly_row" style="display: none">
                                                <td class="text-right">Estimates</td>
                                                <td class="text-center">
                                                                                              210                                                                                      </td>
                                              <td class="text-center colm_2">
                                                                                              365                                                                                      </td>
                                              <td class="text-center">
                                                                                              200                                                                                      </td>
                                            </tr>
                                                                                <tr class="monthly_row" style="display: none">
                                                <td class="text-right">Customers</td>
                                                <td class="text-center">
                                                                                              200                                                                                      </td>
                                              <td class="text-center colm_2">
                                                                                              360                                                                                      </td>
                                              <td class="text-center">
                                                                                              <p class="mb-0 feature-item">Unlimited</p>
                                                                                          </td>
                                            </tr>
                                                                                <tr class="monthly_row" style="display: none">
                                                <td class="text-right">Business</td>
                                                <td class="text-center">
                                                                                              5                                                                                      </td>
                                              <td class="text-center colm_2">
                                                                                              80                                                                                      </td>
                                              <td class="text-center">
                                                                                              200                                                                                      </td>
                                            </tr>
                                                                                <tr class="monthly_row" style="display: none">
                                                <td class="text-right">Invoice templates</td>
                                                <td class="text-center">
                                                                                              8                                                                                      </td>
                                              <td class="text-center colm_2">
                                                                                              8                                                                                      </td>
                                              <td class="text-center">
                                                                                              8                                                                                      </td>
                                            </tr>
                                                                                <tr class="monthly_row" style="display: none">
                                                <td class="text-right">Get Invoice Payment Online</td>
                                                <td class="text-center">
                                                                                              -1                                                                                      </td>
                                              <td class="text-center colm_2">
                                                                                              -1                                                                                      </td>
                                              <td class="text-center">
                                                                                              -1                                                                                      </td>
                                            </tr>
                                                                                <tr class="monthly_row" style="display: none">
                                                <td class="text-right">Multi User Roles</td>
                                                <td class="text-center">
                                                                                              <p class="mb-0 feature-item">Unlimited</p>
                                                                                          </td>
                                              <td class="text-center colm_2">
                                                                                              <p class="mb-0 feature-item">Unlimited</p>
                                                                                          </td>
                                              <td class="text-center">
                                                                                              <p class="mb-0 feature-item">Unlimited</p>
                                                                                          </td>
                                            </tr>
                                                                                <tr class="monthly_row" style="display: none">
                                                <td class="text-right">HRM</td>
                                                <td class="text-center">
                                                                                              -1                                                                                      </td>
                                              <td class="text-center colm_2">
                                                                                              -1                                                                                      </td>
                                              <td class="text-center">
                                                                                              -1                                                                                      </td>
                                            </tr>
                                        
                                                                                <tr class="yearly_row">
                                              <td class="text-right">Invoices</td>
                                                <td class="text-center">
                                                                                              200                                                                                      </td>
                                              <td class="text-center colm_2">
                                                                                              200                                                                                      </td>
                                              <td class="text-center">
                                                                                              2000                                                                                      </td>
                                            </tr>
                                                                                <tr class="yearly_row">
                                              <td class="text-right">Estimates</td>
                                                <td class="text-center">
                                                                                              500                                                                                      </td>
                                              <td class="text-center colm_2">
                                                                                              450                                                                                      </td>
                                              <td class="text-center">
                                                                                              <p class="mb-0 feature-item">Unlimited</p>
                                                                                          </td>
                                            </tr>
                                                                                <tr class="yearly_row">
                                              <td class="text-right">Customers</td>
                                                <td class="text-center">
                                                                                              410                                                                                      </td>
                                              <td class="text-center colm_2">
                                                                                              420                                                                                      </td>
                                              <td class="text-center">
                                                                                              <p class="mb-0 feature-item">Unlimited</p>
                                                                                          </td>
                                            </tr>
                                                                                <tr class="yearly_row">
                                              <td class="text-right">Business</td>
                                                <td class="text-center">
                                                                                              210                                                                                      </td>
                                              <td class="text-center colm_2">
                                                                                              305                                                                                      </td>
                                              <td class="text-center">
                                                                                              <p class="mb-0 feature-item">Unlimited</p>
                                                                                          </td>
                                            </tr>
                                                                                <tr class="yearly_row">
                                              <td class="text-right">Invoice templates</td>
                                                <td class="text-center">
                                                                                              8                                                                                      </td>
                                              <td class="text-center colm_2">
                                                                                              8                                                                                      </td>
                                              <td class="text-center">
                                                                                              8                                                                                      </td>
                                            </tr>
                                                                                <tr class="yearly_row">
                                              <td class="text-right">Get Invoice Payment Online</td>
                                                <td class="text-center">
                                                                                              -1                                                                                      </td>
                                              <td class="text-center colm_2">
                                                                                              -1                                                                                      </td>
                                              <td class="text-center">
                                                                                              -1                                                                                      </td>
                                            </tr>
                                                                                <tr class="yearly_row">
                                              <td class="text-right">Multi User Roles</td>
                                                <td class="text-center">
                                                                                              10                                                                                      </td>
                                              <td class="text-center colm_2">
                                                                                              20                                                                                      </td>
                                              <td class="text-center">
                                                                                              30                                                                                      </td>
                                            </tr>
                                                                                <tr class="yearly_row">
                                              <td class="text-right">HRM</td>
                                                <td class="text-center">
                                                                                              -1                                                                                      </td>
                                              <td class="text-center colm_2">
                                                                                              -1                                                                                      </td>
                                              <td class="text-center">
                                                                                              -1                                                                                      </td>
                                            </tr>
                                        
                                        <tfoot>
                                            <tr class="btom">
                                                <td></td>
                                                                                                <td class="">
                                                        <a class="custom-btn custom-btn--medium custom-btn--style-3 package_btn" href="package/1.html">Choose Plan</a>
                                                        <input type="hidden" name="billing_type" class="billing_type" value="yearly">
                                                    </td>
                                                                                                <td class="colm_2">
                                                        <a class="custom-btn custom-btn--medium custom-btn--style-3 package_btn" href="package/2.html">Choose Plan</a>
                                                        <input type="hidden" name="billing_type" class="billing_type" value="yearly">
                                                    </td>
                                                                                                <td class="">
                                                        <a class="custom-btn custom-btn--medium custom-btn--style-3 package_btn" href="package/3.html">Choose Plan</a>
                                                        <input type="hidden" name="billing_type" class="billing_type" value="yearly">
                                                    </td>
                                                                                        </tr>
                                        </tfoot>
                                        
                                    </tbody>
                                </table>
    
                            </div>
                        </div>
                    </div>
                    <div class="spacer py-4"></div>
                </div>
    
                </div>
    </section>

  </template>
  
  <script>
  export default {
    metaInfo: {
      // if no subcomponents specify a metaInfo.title, this title will be used
      title: "Register Step2"
    },
  };
  </script>
  
  