<template>


  <section class="section p-0 mt--50">
    <div class="container">
        <div class="spacer py-6"></div>

        <div class="row">
            <div class="col-md-12 text-center">
                <a class="site-logo" href="/home">
                    <img class="img-fluid" width="20%" src="/images/logo.png" alt="SiGERP" />
                </a>

                <h3 class="mb-0">{{$t("Saas_Business_Accounting_Software")}}.</h3>

                <h5 class="mt-2">{{$t("SiGERP")}}<span> {{$t("Helps_Entrepreneurs_to_manage_their_business_finances_HR")}}.</span></h5>
            
                <h3 class="mb-0">
                    <span>{{$t("Register and Get your Licence NOW!")}}</span>
                </h3>

            </div>
        </div>    
            <div class="spacer py-4"></div>
          
 <form-wizard class="col-md-12" style="width: 100%;">
<tab-content title="About You" :selected="true">

    <div class="account_area row justify-content-md-center mt-0">
        <div class="col-md-6 col-lg-6 col-sm-12 text-left d-none d-md-block" data-aos="fade-left">
            <img class="mt-5" width="95%" src="/front/img/register.png">
        </div>

        <div class="col-md-6 col-lg-6 col-sm-12 text-left" data-aos="fade-right">
            
            <div class="spacer py-7"></div>


            <!--############User registration form (Step 1)#############-->

            <form id="register_form" class="authorizationform authorizationform--shadow leave_con" method="post" action="#/register_user" >
                <h4 class="title">Sign Up</h4>
                <div class="input-wrp">
                    <input class="textfield textfield--grey" type="text" name="name" placeholder="Full name" required />
                </div>

                <div class="input-wrp">
                    <input class="textfield textfield--grey" type="email" name="email" placeholder="Email" required />
                </div>

                <div class="input-wrp">
                    <input class="textfield textfield--grey" type="password" name="password" placeholder="Password" required />
                </div>

                <p>
                    <label class="checkbox mt-0">
                        <input name="agree" class="agree_btn" type="checkbox" value="ok" required />
                        <i class="fontello-check"></i><span>I agree with <a target="_blank" href="#/terms">Terms of service</a></span>
                    </label>
                </p>

                <input type="hidden" name="plan" value="standard">
                <input type="hidden" name="billing" value="monthly">
                <input type="hidden" name="csrf_test_name" value="472b33b053304699334cf79ba40c0ca0">

                <div class="input-wrp">
                <div class="g-recaptcha pull-left" data-sitekey="6LcwM-UUAAAAAKlsbtMxvvJ1catqJWWlWe9RU0CE"></div>
                </div>

                <div class="text-center">
                    <button class="btn btn-primary btn-block submit_btn mb-4 loader_btn" type="submit" disabled="disabled">Get Started </button>
                    <a class="create" href="/login">Sign in</a>
                </div>

            </form>
        </div>
    </div>


<!--
    <div class="form-group">
        <label for="fullName">Full Name</label>
        <input type="text" class="form-control" placeholder="Enter your name" v-model="fullName">
    </div>-->
</tab-content>
<tab-content title="About your Company"> 
        <!--############User registration form (Step 1)#############-->

        <div class="business_area justify-content-md-center mt-0">

            <div class="row">
                <div class="col-md-6 col-lg-6 col-sm-12 text-left d-none d-md-block" data-aos="fade-up">
                    <img src="front/img/business.jpg">
                </div>

                <div class="col-md-6 col-lg-6 col-sm-12 text-left" data-aos="fade-down">
                    
                    <div class="spacer py-7"></div>

                    <form id="business_form" class="authorizationform authorizationform--shadow leave_con" method="post" action="https://accufy.originlabsoft.com/create-business">
                        <h4 class="title">Setup your first Business</h4>
                        <div class="form-group">
                            <input class="textfield textfield--grey" type="text" name="name" placeholder="Business Name" />
                        </div>

                        <div class="input-wrp">
                            <select class="selectfield textfield--grey single_select col-sm-12 wd-100" id="country" name="country" style="width: 100%">
                                <option value="">Select country</option>
                                                                        <option value="1" 
                                        >
                                        Andorra                                        </option>
                                                                        <option value="2" 
                                        >
                                        United Arab Emirates                                        </option>
                                                                        <option value="3" 
                                        >
                                        Afghanistan                                        </option>
                                                                        <option value="4" 
                                        >
                                        Antigua and Barbuda                                        </option>
                                                                        <option value="5" 
                                        >
                                        Anguilla                                        </option>
                                                                        <option value="6" 
                                        >
                                        Albania                                        </option>
                                                                        <option value="7" 
                                        >
                                        Armenia                                        </option>
                                                                        <option value="8" 
                                        >
                                        Angola                                        </option>
                                                                        <option value="9" 
                                        >
                                        Argentina                                        </option>
                                                                        <option value="10" 
                                        >
                                        Austria                                        </option>
                                                                        <option value="11" 
                                        >
                                        Australia                                        </option>
                                                                        <option value="12" 
                                        >
                                        Aruba                                        </option>
                                                                        <option value="13" 
                                        >
                                        Azerbaijan                                        </option>
                                                                        <option value="14" 
                                        >
                                        Barbados                                        </option>
                                                                        <option value="15" 
                                        >
                                        Bangladesh                                        </option>
                                                                        <option value="16" 
                                        >
                                        Belgium                                        </option>
                                                                        <option value="17" 
                                        >
                                        Burkina Faso                                        </option>
                                                                        <option value="18" 
                                        >
                                        Bulgaria                                        </option>
                                                                        <option value="19" 
                                        >
                                        Bahrain                                        </option>
                                                                        <option value="20" 
                                        >
                                        Burundi                                        </option>
                                                                        <option value="21" 
                                        >
                                        Benin                                        </option>
                                                                        <option value="22" 
                                        >
                                        Bermuda                                        </option>
                                                                        <option value="23" 
                                        >
                                        Brazil                                        </option>
                                                                        <option value="24" 
                                        >
                                        Bhutan                                        </option>
                                                                        <option value="25" 
                                        >
                                        Botswana                                        </option>
                                                                        <option value="26" 
                                        >
                                        Belarus                                        </option>
                                                                        <option value="27" 
                                        >
                                        Belize                                        </option>
                                                                        <option value="28" 
                                        >
                                        Canada                                        </option>
                                                                        <option value="29" 
                                        >
                                        Switzerland                                        </option>
                                                                        <option value="30" 
                                        >
                                        Cote d&#039;Ivoire                                        </option>
                                                                        <option value="31" 
                                        >
                                        Cook Islands                                        </option>
                                                                        <option value="32" 
                                        >
                                        Chile                                        </option>
                                                                        <option value="33" 
                                        >
                                        Cameroon                                        </option>
                                                                        <option value="34" 
                                        >
                                        China                                        </option>
                                                                        <option value="35" 
                                        >
                                        Colombia                                        </option>
                                                                        <option value="36" 
                                        >
                                        Costa Rica                                        </option>
                                                                        <option value="37" 
                                        >
                                        Cuba                                        </option>
                                                                        <option value="38" 
                                        >
                                        Cape Verde                                        </option>
                                                                        <option value="39" 
                                        >
                                        Cyprus                                        </option>
                                                                        <option value="40" 
                                        >
                                        Czech Republic                                        </option>
                                                                        <option value="41" 
                                        >
                                        Germany                                        </option>
                                                                        <option value="42" 
                                        >
                                        Djibouti                                        </option>
                                                                        <option value="43" 
                                        >
                                        Denmark                                        </option>
                                                                        <option value="44" 
                                        >
                                        Dominica                                        </option>
                                                                        <option value="45" 
                                        >
                                        Dominican Republic                                        </option>
                                                                        <option value="46" 
                                        >
                                        Algeria                                        </option>
                                                                        <option value="47" 
                                        >
                                        Ecuador                                        </option>
                                                                        <option value="48" 
                                        >
                                        Estonia                                        </option>
                                                                        <option value="49" 
                                        >
                                        Egypt                                        </option>
                                                                        <option value="50" 
                                        >
                                        Eritrea                                        </option>
                                                                        <option value="51" 
                                        >
                                        Spain                                        </option>
                                                                        <option value="52" 
                                        >
                                        Ethiopia                                        </option>
                                                                        <option value="53" 
                                        >
                                        Finland                                        </option>
                                                                        <option value="54" 
                                        >
                                        Fiji                                        </option>
                                                                        <option value="55" 
                                        >
                                        Faroe Islands                                        </option>
                                                                        <option value="56" 
                                        >
                                        France                                        </option>
                                                                        <option value="57" 
                                        >
                                        Gabon                                        </option>
                                                                        <option value="58" 
                                        >
                                        United Kingdom                                        </option>
                                                                        <option value="59" 
                                        >
                                        Grenada                                        </option>
                                                                        <option value="60" 
                                        >
                                        Georgia                                        </option>
                                                                        <option value="61" 
                                        >
                                        Guernsey                                        </option>
                                                                        <option value="62" 
                                        >
                                        Ghana                                        </option>
                                                                        <option value="63" 
                                        >
                                        Gibraltar                                        </option>
                                                                        <option value="64" 
                                        >
                                        Guinea                                        </option>
                                                                        <option value="65" 
                                        >
                                        Equatorial Guinea                                        </option>
                                                                        <option value="66" 
                                        >
                                        Greece                                        </option>
                                                                        <option value="67" 
                                        >
                                        Guatemala                                        </option>
                                                                        <option value="68" 
                                        >
                                        Guinea-Bissau                                        </option>
                                                                        <option value="69" 
                                        >
                                        Guyana                                        </option>
                                                                        <option value="70" 
                                        >
                                        Hong Kong                                        </option>
                                                                        <option value="71" 
                                        >
                                        Honduras                                        </option>
                                                                        <option value="72" 
                                        >
                                        Croatia                                        </option>
                                                                        <option value="73" 
                                        >
                                        Haiti                                        </option>
                                                                        <option value="74" 
                                        >
                                        Hungary                                        </option>
                                                                        <option value="75" 
                                        >
                                        Indonesia                                        </option>
                                                                        <option value="76" 
                                        >
                                        Ireland                                        </option>
                                                                        <option value="77" 
                                        >
                                        Israel                                        </option>
                                                                        <option value="78" 
                                        >
                                        Isle of Man                                        </option>
                                                                        <option value="79" 
                                        >
                                        India                                        </option>
                                                                        <option value="80" 
                                        >
                                        Iraq                                        </option>
                                                                        <option value="81" 
                                        >
                                        Iceland                                        </option>
                                                                        <option value="82" 
                                        >
                                        Italy                                        </option>
                                                                        <option value="83" 
                                        >
                                        Jersey                                        </option>
                                                                        <option value="84" 
                                        >
                                        Jamaica                                        </option>
                                                                        <option value="85" 
                                        >
                                        Jordan                                        </option>
                                                                        <option value="86" 
                                        >
                                        Japan                                        </option>
                                                                        <option value="87" 
                                        >
                                        Kenya                                        </option>
                                                                        <option value="88" 
                                        >
                                        Kyrgyzstan                                        </option>
                                                                        <option value="89" 
                                        >
                                        Cambodia                                        </option>
                                                                        <option value="90" 
                                        >
                                        Kiribati                                        </option>
                                                                        <option value="91" 
                                        >
                                        Comoros                                        </option>
                                                                        <option value="92" 
                                        >
                                        Kuwait                                        </option>
                                                                        <option value="93" 
                                        >
                                        Cayman Islands                                        </option>
                                                                        <option value="94" 
                                        >
                                        Kazakhstan                                        </option>
                                                                        <option value="95" 
                                        >
                                        Laos                                        </option>
                                                                        <option value="96" 
                                        >
                                        Lebanon                                        </option>
                                                                        <option value="97" 
                                        >
                                        Saint Lucia                                        </option>
                                                                        <option value="98" 
                                        >
                                        Liechtenstein                                        </option>
                                                                        <option value="99" 
                                        >
                                        Sri Lanka                                        </option>
                                                                        <option value="100" 
                                        >
                                        Liberia                                        </option>
                                                                        <option value="101" 
                                        >
                                        Lesotho                                        </option>
                                                                        <option value="102" 
                                        >
                                        Lithuania                                        </option>
                                                                        <option value="103" 
                                        >
                                        Luxembourg                                        </option>
                                                                        <option value="104" 
                                        >
                                        Latvia                                        </option>
                                                                        <option value="105" 
                                        >
                                        Morocco                                        </option>
                                                                        <option value="106" 
                                        >
                                        Monaco                                        </option>
                                                                        <option value="107" 
                                        >
                                        Moldova                                        </option>
                                                                        <option value="108" 
                                        >
                                        Montenegro                                        </option>
                                                                        <option value="109" 
                                        >
                                        Madagascar                                        </option>
                                                                        <option value="110" 
                                        >
                                        Marshall Islands                                        </option>
                                                                        <option value="111" 
                                        >
                                        Mali                                        </option>
                                                                        <option value="112" 
                                        >
                                        Myanmar                                        </option>
                                                                        <option value="113" 
                                        >
                                        Mongolia                                        </option>
                                                                        <option value="114" 
                                        >
                                        Mauritania                                        </option>
                                                                        <option value="115" 
                                        >
                                        Montserrat                                        </option>
                                                                        <option value="116" 
                                        >
                                        Malta                                        </option>
                                                                        <option value="117" 
                                        >
                                        Mauritius                                        </option>
                                                                        <option value="118" 
                                        >
                                        Maldives                                        </option>
                                                                        <option value="119" 
                                        >
                                        Malawi                                        </option>
                                                                        <option value="120" 
                                        >
                                        Mexico                                        </option>
                                                                        <option value="121" 
                                        >
                                        Malaysia                                        </option>
                                                                        <option value="122" 
                                        >
                                        Mozambique                                        </option>
                                                                        <option value="123" 
                                        >
                                        Namibia                                        </option>
                                                                        <option value="124" 
                                        >
                                        New Caledonia                                        </option>
                                                                        <option value="125" 
                                        >
                                        Niger                                        </option>
                                                                        <option value="126" 
                                        >
                                        Nigeria                                        </option>
                                                                        <option value="127" 
                                        >
                                        Nicaragua                                        </option>
                                                                        <option value="128" 
                                        >
                                        Netherlands                                        </option>
                                                                        <option value="129" 
                                        >
                                        Norway                                        </option>
                                                                        <option value="130" 
                                        >
                                        Nepal                                        </option>
                                                                        <option value="131" 
                                        >
                                        Nauru                                        </option>
                                                                        <option value="132" 
                                        >
                                        Niue                                        </option>
                                                                        <option value="133" 
                                        >
                                        New Zealand                                        </option>
                                                                        <option value="134" 
                                        >
                                        Oman                                        </option>
                                                                        <option value="135" 
                                        >
                                        Panama                                        </option>
                                                                        <option value="136" 
                                        >
                                        Peru                                        </option>
                                                                        <option value="137" 
                                        >
                                        French Polynesia                                        </option>
                                                                        <option value="138" 
                                        >
                                        Papua New Guinea                                        </option>
                                                                        <option value="139" 
                                        >
                                        Philippines                                        </option>
                                                                        <option value="140" 
                                        >
                                        Pakistan                                        </option>
                                                                        <option value="141" 
                                        >
                                        Poland                                        </option>
                                                                        <option value="142" 
                                        >
                                        Portugal                                        </option>
                                                                        <option value="143" 
                                        >
                                        Palau                                        </option>
                                                                        <option value="144" 
                                        >
                                        Paraguay                                        </option>
                                                                        <option value="145" 
                                        >
                                        Qatar                                        </option>
                                                                        <option value="146" 
                                        >
                                        Romania                                        </option>
                                                                        <option value="147" 
                                        >
                                        Serbia                                        </option>
                                                                        <option value="148" 
                                        >
                                        Russia                                        </option>
                                                                        <option value="149" 
                                        >
                                        Rwanda                                        </option>
                                                                        <option value="150" 
                                        >
                                        Saudi Arabia                                        </option>
                                                                        <option value="151" 
                                        >
                                        Solomon Islands                                        </option>
                                                                        <option value="152" 
                                        >
                                        Seychelles                                        </option>
                                                                        <option value="153" 
                                        >
                                        Sudan                                        </option>
                                                                        <option value="154" 
                                        >
                                        Sweden                                        </option>
                                                                        <option value="155" 
                                        >
                                        Singapore                                        </option>
                                                                        <option value="156" 
                                        >
                                        Slovenia                                        </option>
                                                                        <option value="157" 
                                        >
                                        Slovakia                                        </option>
                                                                        <option value="158" 
                                        >
                                        Sierra Leone                                        </option>
                                                                        <option value="159" 
                                        >
                                        San Marino                                        </option>
                                                                        <option value="160" 
                                        >
                                        Senegal                                        </option>
                                                                        <option value="161" 
                                        >
                                        Somalia                                        </option>
                                                                        <option value="162" 
                                        >
                                        Suriname                                        </option>
                                                                        <option value="163" 
                                        >
                                        El Salvador                                        </option>
                                                                        <option value="164" 
                                        >
                                        Swaziland                                        </option>
                                                                        <option value="165" 
                                        >
                                        Chad                                        </option>
                                                                        <option value="166" 
                                        >
                                        Togo                                        </option>
                                                                        <option value="167" 
                                        >
                                        Thailand                                        </option>
                                                                        <option value="168" 
                                        >
                                        Tajikistan                                        </option>
                                                                        <option value="169" 
                                        >
                                        Turkmenistan                                        </option>
                                                                        <option value="170" 
                                        >
                                        Tunisia                                        </option>
                                                                        <option value="171" 
                                        >
                                        Tonga                                        </option>
                                                                        <option value="172" 
                                        >
                                        Turkey                                        </option>
                                                                        <option value="173" 
                                        >
                                        Trinidad and Tobago                                        </option>
                                                                        <option value="174" 
                                        >
                                        Tuvalu                                        </option>
                                                                        <option value="175" 
                                        >
                                        Taiwan                                        </option>
                                                                        <option value="176" 
                                        >
                                        Ukraine                                        </option>
                                                                        <option value="177" 
                                        >
                                        Uganda                                        </option>
                                                                        <option value="178" 
                                        >
                                        United States                                        </option>
                                                                        <option value="179" 
                                        >
                                        Uruguay                                        </option>
                                                                        <option value="180" 
                                        >
                                        Uzbekistan                                        </option>
                                                                        <option value="181" 
                                        >
                                        Vietnam                                        </option>
                                                                        <option value="182" 
                                        >
                                        Vanuatu                                        </option>
                                                                        <option value="183" 
                                        >
                                        Wallis and Futuna                                        </option>
                                                                        <option value="184" 
                                        >
                                        Samoa                                        </option>
                                                                        <option value="185" 
                                        >
                                        Yemen                                        </option>
                                                                        <option value="186" 
                                        >
                                        South Africa                                        </option>
                                                                        <option value="187" 
                                        >
                                        Zambia                                        </option>
                                                                        <option value="188" 
                                        >
                                        Zimbabwe                                        </option>
                                                                </select>
                        </div>
                       
                        <div class="mt-2 input-wrp">
                            <select class="mt-2 selectfield textfield--grey single_select col-sm-12 wd-100" name="category" style="width: 100%">
                                <option value="">Select Business Type</option>
                                                                        <option value="1" 
                                        >
                                        Arts, crafts, and collectibles                                        </option>
                                                                        <option value="2" 
                                        >
                                        Baby                                        </option>
                                                                        <option value="3" 
                                        >
                                        Beauty and fragrances                                        </option>
                                                                        <option value="4" 
                                        >
                                        Books and magazines                                        </option>
                                                                        <option value="5" 
                                        >
                                        Business to business                                        </option>
                                                                        <option value="6" 
                                        >
                                        Clothing, accessories, and shoes                                        </option>
                                                                        <option value="7" 
                                        >
                                        Web, Computers, accessories, and services                                        </option>
                                                                        <option value="8" 
                                        >
                                        Education                                        </option>
                                                                        <option value="9" 
                                        >
                                        Electronics and telecom                                        </option>
                                                                        <option value="10" 
                                        >
                                        Entertainment and media                                        </option>
                                                                        <option value="11" 
                                        >
                                        Financial services and products                                        </option>
                                                                        <option value="12" 
                                        >
                                        Food retail and service                                        </option>
                                                                        <option value="13" 
                                        >
                                        Gifts and flowers                                        </option>
                                                                        <option value="14" 
                                        >
                                        Government                                        </option>
                                                                        <option value="15" 
                                        >
                                        Health and personal care                                        </option>
                                                                        <option value="16" 
                                        >
                                        Home and garden                                        </option>
                                                                        <option value="17" 
                                        >
                                        Nonprofit                                        </option>
                                                                        <option value="18" 
                                        >
                                        Pets and animals                                        </option>
                                                                        <option value="19" 
                                        >
                                        Religion and spirituality (for profit)                                        </option>
                                                                        <option value="20" 
                                        >
                                        Retail (not elsewhere classified)                                        </option>
                                                                        <option value="21" 
                                        >
                                        Services - other                                        </option>
                                                                        <option value="22" 
                                        >
                                        Sports and outdoors                                        </option>
                                                                        <option value="23" 
                                        >
                                        Toys and hobbies                                        </option>
                                                                        <option value="24" 
                                        >
                                        Travel                                        </option>
                                                                        <option value="25" 
                                        >
                                        Vehicle sales                                        </option>
                                                                        <option value="26" 
                                        >
                                        Vehicle service and accessories                                        </option>
                                                                        <option value="27" 
                                        >
                                        xyz                                        </option>
                                                                        <option value="28" 
                                        >
                                        toprakvara                                        </option>
                                                                        <option value="29" 
                                        >
                                        demo test - 1                                        </option>
                                                                        <option value="30" 
                                        >
                                        Cash                                        </option>
                                                                        <option value="31" 
                                        >
                                        Covid-19                                        </option>
                                                                        <option value="32" 
                                        >
                                        Sigorta                                        </option>
                                                                        <option value="33" 
                                        >
                                        logistics                                        </option>
                                                                        <option value="34" 
                                        >
                                        Real State                                        </option>
                                                                        <option value="35" 
                                        >
                                        Technology                                        </option>
                                                                        <option value="36" 
                                        >
                                        test                                        </option>
                                                                        <option value="37" 
                                        >
                                        Information Tech.                                        </option>
                                                                        <option value="38" 
                                        >
                                        North                                        </option>
                                                                        <option value="39" 
                                        >
                                        Journals and Magazines                                        </option>
                                                                        <option value="40" 
                                        >
                                        taxspa                                        </option>
                                                                        <option value="41" 
                                        >
                                        Retail Business                                        </option>
                                                                        <option value="42" 
                                        >
                                        Prestador de Serviço                                        </option>
                                                                        <option value="43" 
                                        >
                                        kk                                        </option>
                                                                        <option value="44" 
                                        >
                                        l                                        </option>
                                                                        <option value="45" 
                                        >
                                        emptorza                                        </option>
                                                                        <option value="46" 
                                        >
                                        Digitviewsh                                        </option>
                                                                        <option value="47" 
                                        >
                                        ?????                                        </option>
                                                                        <option value="48" 
                                        >
                                        catone                                        </option>
                                                                </select>
                        </div>
                       
                        <div class="spacer py-4"></div>


                        <input type="hidden" name="csrf_test_name" value="472b33b053304699334cf79ba40c0ca0">

                        <br>
                        <button class="btn btn-primary btn-block loader_btn2" type="submit" role="button" >Create</button>
                    </form>
                </div>
            </div>
        </div>


  
</tab-content>


<tab-content title="Finishing Up">
    <section class="section">
        <div class="container">
    
            <div class="section-heading section-heading--center">
                <h3 class="title">Small Business—friendly Pricing</h3>
                <p>We're offering a generous Free Plan and affordable premium pricing plans that grow with your business</p>
            </div>
    
            <div class="row">
                <div class="col-12">
    
                    <div class="content-container">
                        <!-- start pricing table -->
                        <div class="pricing-table pricing-table--s4" data-aos="fade" data-aos-delay="150">
                            <div class="d-block">
    
                            <div class="spacer py-2"></div>
    
                                <div class="col-md-4 text-center m-auto mb-20 price-swicher" style="left:450px">
    
                                                                  <figure class="discount-badge">
                                      <svg class="d-block mt-n2 ml-n4" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 99.3 57" width="48" transform="scale(-1,1)">
                                        <path fill="none" stroke="#bdc5d1" stroke-width="4" stroke-linecap="round" stroke-miterlimit="10" d="M2,39.5l7.7,14.8c0.4,0.7,1.3,0.9,2,0.4L27.9,42"></path>
                                        <path fill="none" stroke="#bdc5d1" stroke-width="4" stroke-linecap="round" stroke-miterlimit="10" d="M11,54.3c0,0,10.3-65.2,86.3-50"></path>
                                      </svg>
                                      <span class="badge badge-default soft-blue badge-pill py-sm-2 px-sm-3">Save up to 10%</span>
                                    </figure>
                                  
                                  <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                    <label class="btn btn-outline-primary custom-btngp">
                                      <input type="radio" name="payment_type" value="monthly" class="switch_price" id="monthly-1"> Monthly                                 </label>
                                    <label class="btn btn-outline-primary custom-btngp">
                                      <input type="radio" name="payment_type" value="yearly" class="switch_price" id="yearly-1" checked> Yearly                                </label>
                                  </div>
                                </div><br><br>
    
                                <div class="col-md-12 col-sm-12 col-xs-12 scroll table-responsive p-0 mt-20">
                                   
                                          <!-- HTML Code start -->
<section class='content'>
        <div class="container">
          <div class="row-fluid clearfix">
            
            <div class="pricing-wrapper comparison-table clearfix style-3">
              <div class="col-md-3 pricing-col list-feature">
                <div class="pricing-card">
                  <div class="pricing-header">
                    <h5>Choose Your Plan</h5>
                    <p>Compare Package Feature</p>
                  </div>
                  <div class="pricing-feature">
                    <li>
                      <p>monthly updates</p>
                    </li>
                    <li>
                      <p>disk Space</p>
                    </li>
                    <li>
                      <p>email Accounts</p>
                    </li>
                    <li>
                      <p>Domains</p>
                    </li>
                    <li>
                      <p>Sub Domains</p>
                    </li>
                    <li>
                      <p>Custom Domains</p>
                    </li>
                    <li>
                      <p>Technical Support</p>
                    </li>
                    <li>
                      <p>Monthly Bandwidth</p>
                    </li>
                  </div>
                </div>
              </div>
              <div class="col-md-3 pricing-col person">
                <div class="pricing-card">
                  <div class="pricing-header">
                    <h5>BASIC</h5>
                    <div class="price-box">
                      <div class="price">29
                        <div class="currency">$</div>
                        <div class="plan">/ Mo</div>
                      </div>
                    </div>
                  </div>
                  <div class="pricing-feature">
                    <li>
                      <p>
                        <i class="fa fa-check available"></i>
                      </p>
                    </li>
                    <li>
                      <p>
                        <span>50 GB</span>
                      </p>
                    </li>
                    <li>
                      <p>
                        <span>50</span>
                      </p>
                    </li>
                    <li>
                      <p>
                        <span>5</span>
                      </p>
                    </li>
                    <li>
                      <p>
                        <span>10</span>
                      </p>
                    </li>
                    <li>
                      <p>
                        <i class="fa fa-times unavailable"></i>
                      </p>
                    </li>
                    <li>
                      <p>
                        <i class="fa fa-times unavailable"></i>
                      </p>
                    </li>
                    <li>
                      <p>
                        <span>25 GB</span>
                      </p>
                    </li>
                  </div>
                  <div class="pricing-footer">
                    <a href="#" class="btn btn-act rounded btn-line">
                      <span>Order Now</span>
                      <i class="fa fa-arrow-right"></i>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-md-3 pricing-col current unlim">
                <div class="pricing-card">
                  <div class="pricing-header">
                    <h5>Standard</h5>
                    <a href="" class="ribbon">
                      <i class="fa fa-star"></i>
                      <span>Feature</span>
                    </a>
                    <div class="price-box">
                      <div class="price">49
                        <div class="currency">$</div>
                        <div class="plan">/ Mo</div>
                      </div>
                    </div>
                  </div>
                  <div class="pricing-feature">
                    <li>
                      <p>
                        <i class="fa fa-check available"></i>
                      </p>
                    </li>
                    <li>
                      <p>
                        <span>150 GB</span>
                      </p>
                    </li>
                    <li>
                      <p>
                        <span>150</span>
                      </p>
                    </li>
                    <li>
                      <p>
                        <span>15</span>
                      </p>
                    </li>
                    <li>
                      <p>
                        <span>20</span>
                      </p>
                    </li>
                    <li>
                      <p>
                        <i class="fa fa-times unavailable"></i>
                      </p>
                    </li>
                    <li>
                      <p>
                        <i class="fa fa-check available"></i>
                      </p>
                    </li>
                    <li>
                      <p>
                        <span>50 GB</span>
                      </p>
                    </li>
                  </div>
                  <div class="pricing-footer">
                    <a href="#" class="btn btn-act rounded btn-line">
                      <span>Order Now</span>
                      <i class="fa fa-arrow-right"></i>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-md-3 pricing-col business">
                <div class="pricing-card">
                  <div class="pricing-header">
                    <h5>Unlimited</h5>
                    <div class="price-box">
                      <div class="price">99
                        <div class="currency">$</div>
                        <div class="plan">/ Mo</div>
                      </div>
                    </div>
                  </div>
                  <div class="pricing-feature">
                    <li>
                      <p>
                        <i class="fa fa-check available"></i>
                      </p>
                    </li>
                    <li>
                      <p>
                        <span>300 GB</span>
                      </p>
                    </li>
                    <li>
                      <p>
                        <span>300</span>
                      </p>
                    </li>
                    <li>
                      <p>
                        <span>30</span>
                      </p>
                    </li>
                    <li>
                      <p>
                        <span>50</span>
                      </p>
                    </li>
                    <li>
                      <p>
                        <i class="fa fa-check available"></i>
                      </p>
                    </li>
                    <li>
                      <p>
                        <i class="fa fa-check available"></i>
                      </p>
                    </li>
                    <li>
                      <p>
                        <span>Unlimitied</span>
                      </p>
                    </li>
                  </div>
                  <div class="pricing-footer">
                    <a href="#" class="btn btn-act rounded btn-line">
                      <span>Order Now</span>
                      <i class="fa fa-arrow-right"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </section>

                        <!-- end pricing table -->
                    </div>
    
                </div>
            </div>
           <!--<div class="spacer py-4"></div>-->
        </div>
    </section>

</tab-content>
</form-wizard>
</div>     
</section>


                


  </template>
  
  <script>
  export default {
    metaInfo: {
      // if no subcomponents specify a metaInfo.title, this title will be used
      title: "Register"
    },
  };
  </script>
  
  