<template>
    <!--Conteudo inicial da landingpage: Home-->
    <div class="container-fluid">
        
     <!-- Inicio de seccao 1: introduca a plataforma-->
     <section class="introducao section section--light-blue-bg">
        <div class="container">
            <div class="section-heading section-heading--center" data-aos="fade-up">
                <h3 class="title mb-0">Fluxo de trabalho</h3>
                <h4 class="mt-1"><span>Veja como a nossa plataforma funciona!</span></h4>
            </div>

            <div class="spacer py-6"></div>

            <div class="row">
                <div class="col-12">

                    <!-- Inicio primeiros passos -->
                    <div class="steps steps--s1">
                        <div class="inner">
                            <div class="row justify-content-center justify-content-xl-around">
							
                                <!-- Inicio item plano -->
                                <div class="col-12 col-sm-9 col-md-4 col-xl-3" data-aos="zoom-in-up">
                                    <div class="item">
                                        <div class="mb-md-8">
                                            <span class="num">
                                                <img class="pull-rights" src="assets2/front/img/plan.svg" alt="" />
                                            </span>
                                        </div>
                                        <h4 class="title" align="justify">Escolha o plano e adquira a sua licen&ccedil;a</h4>
                                        <p align="justify">
                                            Escolha o plano com os m&oacute;dulos ou servi&ccedil;os do SiGERP ideais para s&iacute;. Vai gostar da experi&ecirc;ncia!                                      
										</p>
                                    </div>
                                </div>
                                <!-- Fecho do item plano-->

                                <!-- Inicio item pagamento-->
                                <div class="col-12 col-sm-9 col-md-4 col-xl-3" data-aos="zoom-in-up" data-aos-delay="100">
                                    <div class="item">
                                        <div class="mb-md-8">
                                            <span class="num">
                                                <img class="pull-rights" src="assets2/front/img/payment.svg" alt="demo" />
                                            </span>
                                        </div>
                                        <h4 class="title" align="justify">Execute suas tarefas pelo SiGERP e seja activo no fluxo de trabalho.</h4>
                                        <p align="justify">
                                            Fa&ccedil;a a gest&atilde;o atempada dos recursos da sua empresa e receba relat&oacute;rios personalizados!</p>
                                    </div>
                                </div>
                                <!-- Fecho item pagamento -->

                                <!-- Inicio item inicio de uso-->
                                <div class="col-12 col-sm-9 col-md-4 col-xl-3" data-aos="zoom-in-up" data-aos-delay="200">
                                    <div class="item">
                                        <div class="mb-md-8">
                                            <span class="num">
                                                <img class="pull-rights" src="assets2/front/img/work.svg" alt="demo" />
                                            </span>
                                        </div>
                                        <h4 class="title" align="justify">Aumente a sua produtividade.</h4>
                                        <p align="justify">
                                            Explore todos os 3 servi&ccedil;os oferecidos pelo SiGERP ou active/adquira os outros m&oacute;dulos se o seu plano &eacute; incompleto!                                       
										</p>
                                    </div>
                                </div>
                                <!-- Fecho item  inicio de uso-->
                            </div>
                        </div>
                    </div>
                    <!-- Fecho primeiros passos -->

                </div>
            </div>
        </div>
    </section>
    <!-- Fecho da seccao introdutoria-->


    <!--Inicio da seccao 2: -->
    <section class="servicos">
        <div class="container">
            <div class="section-heading section-heading--center">
                <h3 class="title">A melhor maneira de gerir e monitorar suas tarefas e seus servi&ccedil;os</h3>
            </div>

                                <div class="row  align-items-md-center" data-aos="fade-left">
                    <div class="col-12 col-lg-6">
                        <div class="section-heading">
                            <h3 class="title">Receba notifica&ccedil;&otilde;es de actividades e servi&ccedil;os</h3>
                        </div>

                        <div class="spacer py-2"></div>

                    </div>

                    <div class="spacer py-4 d-lg-none"></div>

                    <div class="col-12 col-lg-6  text-center text-lg-right">
                        <img class="img-fluid" width="520" height="507" src="uploads/medium/online-payment-account-banking_335657-2379_medium-600x600.jpg" alt="demo" />
                    </div>
                </div>
                                <div class="row flex-lg-row-reverse align-items-md-center" data-aos="fade-right">
                    <div class="col-12 col-lg-6">
                        <div class="section-heading">
                            <h3 class="title">Fa&ccedil;a a gest&atilde;o do seu neg&oacute;cio com efic&aacute;cia</h3>
                        </div>

                        <div class="spacer py-2"></div>

                        <div>
                            <h4 class="c-555">
                                Entenda e fa&ccedil;a a gest&atilde;o dos seus recursos empresariais. Rastreie tudo, execute suas tarefas e receba notifica&ccedil;&otilde;es. Tudo est&aacute; automatizado e empacotado.
                            </h4>
                        </div>
                    </div>

                    <div class="spacer py-4 d-lg-none"></div>

                    <div class="col-12 col-lg-6  text-center text-lg-left">
                        <img class="img-fluid" width="520" height="507" src="uploads/medium/business-analytics-concept-illustration_114360-127_medium-600x600.jpg" alt="demo" />
                    </div>
                </div>
                                <div class="row  align-items-md-center" data-aos="fade-left">
                    <div class="col-12 col-lg-6">
                        <div class="section-heading">
                            <h3 class="workflow-auto" align="justify">Automatize seu fluxo de trabalho usando SiGERP </h3>
                        </div>

                        <div class="spacer py-2"></div>

                        <div>
                            <h4 class="c-555" align="justify">
                                Poupe tempo e fa&ccedil;a a gest&atilde;o da sua empresa diariamente, e receba relot&oacute;rios contabil&iacute;sticos e estat&iacute;sticos autom&aacute;ticos para assegurar o seu <i>Workflow e Cashflow</i>.
                            </h4>
                        </div>
                    </div>

                    <div class="spacer py-4 d-lg-none"></div>

                    <div class="col-12 col-lg-6  text-center text-lg-right">
                        <img class="img-fluid" width="520" height="507" src="uploads/medium/working-concept-illustration_114360-450_medium-600x600.jpg" alt="SiGERP" />
                    </div>
                </div>
                    <div class="row flex-lg-row-reverse align-items-md-center" data-aos="fade-right">
                    <div class="col-12 col-lg-6">
                        <div class="section-heading">
                            <h3 class="title" align="justify">Maneira f&aacute;cil para gerir entradas &amp; saidas de Produtos Comerciais, Recursos Humanos e Finan&ccedil;as usando o SiGERP</h3>
                        </div>

                        <div class="spacer py-2"></div>

                        <div>
                            <h4 class="c-555" align="justify">
                               Usando conta SiGERP o cliente pode rastrear pagamentos efectuados, n&atilde;o efectuados & parciais assim como gerir Produtos Comerciais, Recursos Humanos e Contabilidade.                                </h4>
                        </div>
                    </div>

                    <div class="spacer py-4 d-lg-none"></div>

                    <div class="col-12 col-lg-6  text-center text-lg-left">
                        <img class="img-fluid" width="520" height="507" src="uploads/medium/businessman-presentation-business-concept-cartoon-illustration_9026-80_medium-600x600.jpg" alt="demo" />
                    </div>
                </div>
                        </div>
    </section>
    <!--Fecho da seccao 2: Servicos-->

    <!-- Inicio de seccao 3: testemunhos -->
    <section class="testemunhos section section--light-blue-bg">
        <div class="container">
            <div class="section-heading text-center">
                <h3 class="sobre-app" align="justify">O que os nossos clientes dizem? <span class="sobre-app"> SiGERP</span></h3>
            </div>

            <div class="spacer py-4"></div>

            <!-- Inicio da linha de testemunhos-->
            <div class="row">
                <div class="col-12">
                    
                    <div class="review review--s1 review--slider">
                        <div class="js-slick"
                            data-slick='{
                                "autoplay": true,
                                "infinite": false,
                                "arrows": true,
                                "dots": false,
                                "speed": 1200
                            }'>
                                       <div class="reviewitem">
                                    <figure class="reviewitemauthor-image">
                                        <img width="100" height="100" src="uploads/thumbnail/real_estate_(1)_thumb-150x90.jpg" alt="Image" />
                                    </figure>
                                    <div>
                                        <span class="reviewitemauthor-name h4 mb-1">Cheila Sibinde</span>
                                        <p>
                                            Um mimo!                
                                        </p>
                                    </div>
                                </div>
                                     <div class="reviewitem">
                                    <figure class="reviewitemauthor-image">
                                        <img width="100" height="100" src="uploads/thumbnail/20200907_121409_thumb-150x147.jpg" alt="Image" />
                                    </figure>
                                    <div>
                                        <span class="reviewitemauthor-name h4 mb-1">Jenila Dusuva</span>
                                        <p align="justify">
                                           Eu realmente gosto desta plataforma, pois ela me ajuda a automatizar a gest&atilde;o comercial do meu neg&oacute;cio, os funcion&aacute;rios e colaboradores assim como ganhos e gastos financeiros. Obrigado, Simple ERP.                                            </p>
                                    </div>
                                </div>
                                   <div class="reviewitem">
                                    <figure class="reviewitemauthor-image">
                                        <img width="100" height="100" src="uploads/thumbnail/josh-ward-profile_thumb-150x150.jpg" alt="Image" />
                                    </figure>
                                    <div>
                                        <span class="reviewitemauthor-name h4 mb-1">Felipe</span>
                                        <p align="justify">
                                            Esta plataforma &eacute; extremamente &uacute;til, eficaz e eficiente na gest&atilde;o de neg&oacute;cio. Bem haja, Simple ERP!
                                        </p>
                                    </div>
                                </div>
                               </div>
                    </div>
                    
                </div>
            </div>
            <!-- Fecho da linha de testemunhos -->

            
    <!-- Inicio seccao 4: Ajuda-->
           <section id="blog" class="section pb-50">
            <div class="container">
                <div class="section-heading section-heading--center">
                    <h3 class="title">Aprenda a usar a plataforma e fa&ccedil;a a gest&atilde;o dos recursos da sua empresa pelo SiGERP </h3>
                </div>

                <div class="row">
                    <div class="col-12">
                        <!-- Inicio de info de ajuda -->
                        <div class="posts posts--s2">
                            <div class="inner">
                                <div class="row">
                                   <div class="col-12 col-sm-6 col-lg-4 d-sm-flex">
                                        <div class="item item--preview">
                                            <div class="header">
                                                <a href="#">
                                                    <figure class="image">
                                                        <img width="303" height="223" src="uploads/medium/pexels-photo-1559043_medium-1200x757.jpg" alt="demo" />
                                                    </figure>
                                                </a>
                                            </div>

                                            <div class="body">
                                                <div class="content">
                                                    <a class="post_category" href="#">
                                                        <strong>A plataforma </strong>                                                  
														</a>

                                     <h4 class="title"><a href="#">Qual &eacute; o diferencial?</a></h4>
                                     <p>&Eacute; uma plataforma 3 em 1. Adquira apenas uma licen&ccedil;a j&aacute; e fa&ccedil;a a gest&atilde;o comercial, financeira e de recursos humanos!&#8230; </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                        <div class="col-12 col-sm-6 col-lg-4 d-sm-flex">
                                        <div class="item item--preview">
                                            <div class="header">
                                                <a href="#">
                                                    <figure class="image">
                                                        <img width="303" height="223" src="uploads/medium/pexels-photo-373076_medium-1200x800.jpg" alt="demo" />
                                                    </figure>
                                                </a>
                                            </div>

                                            <div class="body">
                                                <div class="content">
                                                    <a class="post_category" href="#">
                                                        <strong>Notifica&ccedil;&otilde;es &amp; fluxo de trabalho</strong>                                                  
														</a>

                                                    <h4 class="title"><a href="#">
													Porqu&ecirc; esta plataforma &eacute; ideal para s&iacute;!?</a></h4>

                                                    <p>
                                                        <p>&Eacute; muito importante para n&oacute;s que a dist&acirc;ncia de um clique o cliente execute tarefas repetitivas, acompanhe o progresso e receba notifica&ccedil;&otilde;es de actividades de gest&atilde;o empresarial&#8230;                                                    </p>
                                                   </p>
                                                    </div>
                                            </div>
                                        </div>
                                    </div>
                                       <div class="col-12 col-sm-6 col-lg-4 d-sm-flex">
                                        <div class="item item--preview">
                                            <div class="header">
                                                <a href="#">
                                                    <figure class="image">
                                                        <img width="303" height="223" src="uploads/medium/pexels-photo-572056_medium-500x334.jpg" alt="demo" />
                                                    </figure>
                                                </a>
                                            </div>

                                            <div class="body">
                                                <div class="content">
                                                    <a class="post_category" href="#">
                                                       <strong>Contabilidade &amp; Estat&iacute;sticas</strong>                                                  
													   </a>

                                                    <h4 class="title"><a href="#">Fa&ccedil;a a gest&atilde;o do cash flow da sua empresa.</a></h4>
                                                        <p align="justify">A Contabilidade &eacute; um dos m&oacute;dulos desta plataforma para al&eacute;m da gest&atilde;o comercial e de RH. N&atilde;o se fala de gest&atilde;o de recursos empresarial sem Contabilidade e relat&oacute;rios estat&iacute;sticos&#8230; </p>                                                   
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Fecho de info de ajuda -->

                   </div>
                </div>
            </div>
        </section>
        <!-- Fecho da seccao de ajuda -->
        </div>
    </section>
    <!-- Fecho da seccao de testemunhos-->

</div>
</template>

<script>

    export default {
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
