<template>
  <div class="page-header">
  <slot name="header">
    
    <h3 class="page-title">
      <span class="page-title-icon bg-gradient-primary text-white mr-2">
        <i class="mdi mdi-home"></i>                 
      </span>
      {{page}}
    </h3>
  </slot>

    <nav aria-label="breadcrumb">
      <ul class="breadcrumb">
        <li> {{page}} </li>
        <li class="breadcrum-divider text-gray"><span>{{$t("/")}}</span></li>
        <li class="breadcrumb-item active" aria-current="page">
          <i class="mdi mdi-view-list"></i>
          <span></span><a href="">{{folder}}</a>
        </li>
      </ul>
    </nav>
  </div>
</template>

<script>
export default {
    props:['page','folder'],
   
}
</script>