<template>
     <!-- Inicio footer -->
     <footer class="footer footer--s3 footer--color-dark ">
        <div class="footerline footerline--first">
            <div class="container">
                <div class="row">
                    <div class="col-3 col-md-3 col-lg-3">
                        <ul>
                            <li><h4 class="text-white"> Sobre a plataforma</h4></li>
                        <li class="text-white h4">
                        <div class="footeritem">
                            <a class="footerlogo site-logo" href="<?=base_url()?>landingPage">
                                <img src="#uploads/medium/logo_medium-300x100.png" width="159" alt="UltraERP" />
                            </a>
                            
                        </div>
                       
                    </li>
                      <li>
                        <div class="footeritem">
               <p class="text-app text-white" align="justify">Simplifica a gest&atilde;o comercial, financeira e de recursos humanos, ajudando-lhe a poupar tempo e dinheiro. Adquira j&aacute; a sua licen&ccedil;a!</p> 
                            
                
                            </div>
                        </li>
                        </ul>
                        </div>

                    <div class="col-3 col-md-3 col-lg-3">
                        <div class="footeritem">
                            <nav id="footernavigation" class="footernavigation">
                                     <ul>  
                                        <li><h4 class="links-uteis text-white">Links &uacute;teis</h4></li>              
                                       <li><a class="text-priv text-white" href="#">Privacidade &amp; pol&iacute;tica</a></li>
                                      <li><a class="text-term text-white" href="#">Termos &amp; Condi&ccedil;&otilde;es </a></li>
                                       <!--<li><a href="page/test.html">Test Page</a></li>-->
                                     </ul>
                            </nav>
                        </div>
                    </div>

                    <div class="col-3 col-md-3 col-lg-3">
                        <div class="footeritem">
                            <nav id="footernavigation" class="footernavigation">
                                <ul>
                                    <li><h4 class="social-web text-white">Servi&ccedil;os</h4></li>
                                    <li><a class="text-p text-white" href="#">Pre&ccedil;os</a></li>
                                     <li><a class="text-h text-white" href="#">Ajuda</a></li>
                                     <li><a class="text-f text-white" href="#">FAQs</a></li>
                                     <li><a class="text-c text-white" href="#">Contactos</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>

                    <div class="col-3 col-md-3 col-lg-3">
                        <div class="footeritem">                      
                            <div class="s-btns s-btns--md s-btns--dark s-btns--rounded"> 
                                <ul class="d-flex flex-row flex-wrap align-items-center">
                                    <li><h4 class="s text-white ">&nbsp;&nbsp;Redes sociais</h4></li>
                                </ul>  
                                <br>           
                                   <div>
                                <ul class="d-flex flex-row flex-wrap align-items-center">
                                    <li><a class="f" href="#"><i class="fontello-facebook"></i></a></li>
                                    <li><a class="t" href="#"><i class="fontello-twitter"></i></a></li>
                                    <li><a class="y" href="#"><i class="fontello-linkedin"></i></a></li>
                                    <li><a class="i" href="#"><i class="fontello-instagram"></i></a></li>
                                </ul>
                                </div>
                            
                            </div>
                        </div>
                    </div>
            
                </div>

                <div class="spacer py-4 py-sm-2"></div>

                <div class="row">
                    <div class="col-12 text-center">
                        <span class="copyright text-white">© <a href="www.oasis-it.com">OASIS-IT</a> 2023 | Todos os direitos reservados.</span>
                    </div>
                </div>
            </div>
        </div>

        
    
<input type="hidden" class="msg_opps" value="Oops">
<input type="hidden" class="msg_error" value="Error">
<input type="hidden" class="msg_success" value="Success!">
<input type="hidden" class="msg_sorry" value="Sorry!">
<input type="hidden" class="msg_yes" value="Yes">
<input type="hidden" class="msg_congratulations" value="Congratulation's">
<input type="hidden" class="msg_something_wrong" value="Something wrong">
<input type="hidden" class="msg_try_again" value="Try again">
<input type="hidden" class="msg_valid_user_msg" value="">
<input type="hidden" class="msg_password_reset_msg" value="">
<input type="hidden" class="msg_password_reset_success_msg" value="Your Password has been changed Successfully">
<input type="hidden" class="msg_confirm_pass_not_match_msg" value="Your Confirm Password doesn't Match">
<input type="hidden" class="msg_old_password_doesnt_match" value="Your Old Password doesn't Match">
<input type="hidden" class="msg_inserted" value="Inserted Successfully">
<input type="hidden" class="msg_made_changes_not_saved" value="You have made some changes and it's not saved?">
<input type="hidden" class="msg_no_data_founds" value="No data founds">
<input type="hidden" class="msg_del_success" value="Deleted successfully">
<input type="hidden" class="msg_account_suspend_msg" value="Your account has been suspended!">
<input type="hidden" class="msg_are_you_sure" value="Are you sure?">
<input type="hidden" class="msg_get_started" value="Get Started">
<input type="hidden" class="msg_not_recover_file" value="You will not be able to recover this file">
<input type="hidden" class="msg_deleted_successfully" value="Deleted successfully">
<input type="hidden" class="msg_data_limit_over" value="Data limit has been over">
<input type="hidden" class="msg_email_exist" value="This email already exist, try another one">
<input type="hidden" class="msg_recaptcha_is_required" value="Recaptcha is required">
<input type="hidden" class="msg_not_active" value="Your account is not active">
<input type="hidden" class="msg_signin" value="Sign in">
<input type="hidden" class="msg_signing_in" value="Signing in ...">
<input type="hidden" class="msg_wrong_access" value="Sorry your username or password is not correct!">
<input type="hidden" class="msg_email_not_verified" value="Your email is not verified, Please verify your email">
<input type="hidden" class="msg_pass_sent_email" value="We've sent a password to your email address. Please check your inbox">
<input type="hidden" class="msg_pass_reset_succ" value="Password Reset Successfully !">
<input type="hidden" class="msg_not_valid_user" value="You are not a valid user">

    <input type="hidden" id="base_url" value="index.html">
    <input type="hidden" id="success" value="">
    <input type="hidden" id="error" value="">
    <input type="hidden" class="accept_cookies" value="This website uses cookies. By using this website you consent to our use of these cookies.">
    <input type="hidden" class="accept" value="Accept">

    </footer>

    <!-- Fecho footer -->
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>

