<template>
    <!--Jumbotron-->
    <div class="start-content">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-10 col-lg-6">
                    
                    <div class="d-md-block">
                        <div class="site-name" data-aos="fade-down">SiGERP</div>
                    </div>
                    <h3 data-aos="fade-down" data-aos-delay="100">
         <p align="justify">Simplifica a gest&atilde;o comercial, financeira e de recursos humanos, ajudando-lhe a poupar tempo e dinheiro. Adquira j&aacute; a sua licen&ccedil;a!</p> 
                    </h3>
                    <div class="spacer py-1 py-sm-2"></div>
    
                        <div class="d-sm-table" data-aos="fade-down" data-aos-delay="150">
                            <div class="d-sm-table-cell pb-5 pb-sm-0 pr-sm-8 pr-md-10">
                                <a class="btn btn-sm btn-primary td-none" href="#"> Teste por 14 dias</a>
                            </div>
                        </div>
                     </div>
    
                <div class="col-12 col-md-10 col-lg-6 xsmt-10">
                    <img class="hero-imgi mt--105" src="/uploads/big/hero-img_big-500x500.png" alt="Hero Image" data-aos="fade-right" />
                </div>
            </div>
        </div>
    </div>
</template>


<script>
    export default {
        mounted() {
           
        }
    }
</script>