<template>
    <header id="top-bar" class="navbar navbar-expand-md navbar-light bg-white shadow-sm top-bar top-bar--dark" data-nav-anchor="true">
        <!--<div class="top-barinner">-->
            <div class="container">
                <div class="navbar-left">
                    <a class="top-barlogo site-logo" href="/">
                        <img class="img-fluid" src="/images/logo.png" width="60" height="45" alt="UltraERP" />
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle Navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                
                <div class="row align-items-center no-gutters">
                    <div class="top-barcollapse" >
                        
                        <nav id="top-bar__navigation" class="top-barnavigation" role="navigation" >
                            <ul class="nav-items">
                                <li>
                                    <a class="nav-link active" size="12" href="/welcome">Home</a>
                                </li>
    
                                <li>
                                    <a class="nav-link " href="/services">Servi&ccedil;os</a>
                                </li>
    
                                <li>
                                    <a class="nav-link " href="/pricing">Pre&ccedil;os</a>
                                </li>
                               
                                <li>
                                    <a class="nav-link " href="/help">Ajuda</a>
                                </li>
                                
                                 <li>
                                  <a class="nav-link " href="/faqs">FAQs</a>
                                </li>
                                
                                <li>
                                    <a class="nav-link " href="/contact">Contacto </a>
                                </li>
    
                                        <li class="has-submenu">
                                        <a class="nav-link page-item" href="javascript:void(0);">P&aacute;ginas</a>
    
                                        <ul class="submenu">
                                         <li><a href="#">Privacidade &amp; pol&iacute;tica</a></li>
                                         <li><a href="#">Termos &amp; Condi&ccedil;&otilde;es </a></li>
                                         <!--<li><a href="page/test.html">Test Page</a></li>-->
                                          </ul>
                                    </li>
                                
                                    <li class="has-submenu">
                                        <a class="nav-link language-item" href="javascript:void(0);">Idioma</a>
                                        <ul class="submenu">
                                       
                                    <!-- <li><a href="">
                                     <img src="" class="language-img">
                                        </a>
                                        </li>-->                              
                                        <li><a href="#">Pt</a></li>
                                        <li><a href="#">En</a></li>
                                        </ul>
                                    </li>
                            </ul>
                        </nav>
    
                        <div id="top-baraction" class="top-baraction">
                            <div class="d-xl-flex flex-xl-row flex-xl-wrap align-items-xl-center">
                                <div class="top-barauth-btns">
                                   <a class="btn btn-light-primary btn-sm" href="/login">Entrar</a>
                                   <a class="btn btn-primary btn-sm" href="/register">Criar conta</a>
                                 </div>
                            </div>
                        </div>
                    </div>
    
                </div>
            </div>
        <!--</div>-->
    </header>

</template>

<style>
.active, .a:hover {
    background-color:blue;
    color: #fff;
    
  }

</style>

<script>
    export default {
        mounted() {
           
        }
    }
</script>

