<template>

  <div class="container-scroller"
  id="template"
    :class="[{'collapsed' : collapsed}, {'onmobile' : isOnMobile}]">
    <!-- partial:partials/_navbar.html -->
    <top-nav />

    <!-- partial -->
    <div class="container-fluid page-body-wrapper app-admin-wrap"
    >
      <!-- partial:partials/_sidebar.html -->
      <sidebar
       :menu="menu"
        :collapsed="collapsed"
        :theme="selectedTheme"
        :show-one-child="true"
        @toggle-collapse="onToggleCollapse"
        @item-click="onItemClick"
      />
      <!-- Main content panel -->
      <div class="main-panel">
        <div class="content-wrapper main-content-wrap d-flex flex-column flex-grow-1">
          
          <transition name="page" mode="out-in">
            <router-view />
          </transition>

        </div>
        <!-- content-wrapper ends -->

        <div class="flex-grow-1"></div>

          <!-- resources/views/components/common/footer.vue -->
        <appFooter />
      </div>

      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!--<div class="app-admin-wrap layout-sidebar-large clearfix">
    <top-nav />

    <sidebar />

    <main>
      <div
        :class="{ 'sidenav-open': getSideBarToggleProperties.isSideNavOpen }"
        class="main-content-wrap d-flex flex-column flex-grow-1"
      >
        <transition name="page" mode="out-in">
          <router-view />
        </transition>

        <div class="flex-grow-1"></div>
        <appFooter />
      </div>
    </main>
  </div>-->
</template>



<script>
import Sidebar from "./Sidebar";
import TopNav from "./TopNav";
import appFooter from "../common/footer";
import { mapGetters, mapActions } from "vuex";

export default {
  components: {
    Sidebar,
    TopNav,
    appFooter,
  },
  data() {
    return {
    };
  },
  computed: {
    ...mapGetters(["getSideBarToggleProperties"]),
  },
  methods: {},
};
</script>
<style>
</style>