<template>
  <nav class="sidebar sidebar-offcanvas" id="sidebar"
  data-toggle="off-canvas"
  >
    <ul class="nav">
      <!--######Dashboard item Menu########-->
      <li class="nav-item border-bottom border-top" 
      :class="{ active: selectedParentMenu == 'dashboard' }"
      data-item="dashboard">
        <router-link tag="a" class="nav-link" to="/app/dashboard">
          <span class="menu-title">{{$t("dashboard")}}</span>
          <i class="mdi mdi-view-dashboard menu-icon"></i>
        </router-link>

      </li>

  <!--#####################Products menu####################################-->
      <li class="nav-item border-bottom"
      v-show="currentUserPermissions 
            && (currentUserPermissions.includes('products_add')
            || currentUserPermissions.includes('products_view') 
            || currentUserPermissions.includes('barcode_view')
             || currentUserPermissions.includes('brand') 
             || currentUserPermissions.includes('unit')  
             || currentUserPermissions.includes('category'))"
            @mouseenter="toggleSubMenu"
            :class="{ active: selectedParentMenu == 'Products' }"
             data-item="Products"
            :data-submenu="true">
            
        <span class="nav-link" v-b-toggle="'product-basic'">
          <span class="menu-title">{{$t("Products")}}</span>
          <i class="menu-arrow"></i>
          <i class="i-Library-2 menu-icon"></i>
        </span>

        <b-collapse accordion="sidebar-accordion" id="product-basic">

          <!--###########Product Sub-menus##############-->
          <ul class="nav flex-column sub-menu childNav"        
          data-parent="Products"
          :class="{ 'd-block': selectedParentMenu == 'Products' }">

          <!--Add product item menu & router link-->
            <li class="nav-item" 
            @click="active = $t('AddProduct')" 
            :class="{active:active === $t('AddProduct')}"                   
            v-if="currentUserPermissions && currentUserPermissions.includes('products_add')"
            >
              <router-link tag="a" class="nav-link" to="/app/products/store"> 
                <i class="mdi mdi-plus-box nav-icon"></i>
                <span class="menu-title item-name">{{$t('AddProduct')}}</span>
              </router-link>
            </li> 
                <!--to="/app/products/store"-->      
          <!--View products item menu & router link-->
            <li class="nav-item"
            @click="active = $t('productsList')" 
            :class="{active:active === $t('productsList')}"
            v-if="currentUserPermissions && currentUserPermissions.includes('products_view')">
              <router-link tag="a" class="nav-link" to="/app/products/list">
                <i class="mdi mdi-view-list nav-icon"></i><span></span>
                <span class="menu-title item-name">{{$t('productsList')}}</span>
              </router-link>
            </li>

            <!--to="/app/products/list"-->

            <!--View products barcodes item menu & router link-->
            <li class="nav-item"
            @click="active = $t('Printbarcode')" 
            :class="{active:active === $t('Printbarcode')}"
            v-if="currentUserPermissions && currentUserPermissions.includes('barcode_view')">
              <router-link tag="a" class="nav-link" to="/app/products/barcode">
                <i class="mdi mdi-barcode nav-icon"></i><span></span>
                <span class="menu-title item-name">{{$t('Printbarcode')}}</span>
              </router-link>
            </li>

            <!--to="/app/products/barcode"-->

            <!--View products ctegories item menu & router link-->
            <li class="nav-item"
            @click="active = $t('Categories')" 
            :class="{active:active === $t('Categories')}"
            v-if="currentUserPermissions && currentUserPermissions.includes('category')">
              <router-link tag="a" class="nav-link" to="/app/products/Categories">
                <i class="mdi mdi-shape nav-icon"></i><span></span>
                <span class="menu-title item-name">{{$t('Categories')}}</span>
              </router-link>
            </li>

            <!-- to="/app/products/Categories"-->

            <!--View products Brands item menu & router link -->
            <li class="nav-item"
            @click="active = $t('Brands')" 
            :class="{active:active === $t('Brands')}"
            v-if="currentUserPermissions && currentUserPermissions.includes('brand')">
              <router-link tag="a" class="nav-link" to="/app/products/Brands">
                <i class="mdi mdi-watermark nav-icon"></i><span></span>
                <span class="menu-title item-name">{{$t('Brands')}}</span>
              </router-link>
            </li>
            <!--to="/app/products/Brands"-->

            <!--View products units item menu & router link-->
            <li class="nav-item"
            @click="active = $t('Units')" 
            :class="{active:active === $t('Units')}"
            v-if="currentUserPermissions && currentUserPermissions.includes('unit')">
              <router-link tag="a" class="nav-link" to="/app/products/Units">
                <i class="mdi mdi-crosshairs-gps nav-icon"></i><span></span>
                <span class="menu-title item-name">{{$t('Units')}}</span>

              </router-link>
            </li>
          </ul>
        </b-collapse>
      </li>

      <!--to="/app/products/Units"-->
      <!--Entities/ Pepple Item-->
      <li class="nav-item border-bottom"
      v-show="currentUserPermissions && (currentUserPermissions.includes('Customers_view') 
                        ||currentUserPermissions.includes('Suppliers_view')
                        ||currentUserPermissions.includes('users_view'))"
            @mouseenter="toggleSubMenu"
            :class="{ active: selectedParentMenu == 'People' }"
            data-item="People"
            :data-submenu="true">

        <span class="nav-link" v-b-toggle="'people-dropdown'">
          <span class="menu-title">{{$t('People')}}</span>
          <i class="menu-arrow"></i>
          <i class="i-Business-Mens menu-icon"></i>
        </span>

        <b-collapse accordion="sidebar-accordion" id="people-dropdown">

          <!--People sub-menus/router links-->
          <ul class="nav flex-column sub-menu childNav"
            data-parent="People"
            :class="{ 'd-block': selectedParentMenu == 'People' }"
          > 

          <!--Customers router link-->
          <li
            class="nav-item"
            @click="active = $t('Customers')" 
            :class="{active:active === $t('Customers')}"
            v-if="currentUserPermissions && currentUserPermissions.includes('Customers_view')"
          >
            <router-link tag="a" class="nav-link" to="/app/People/Customers">
              <i class="nav-icon i-Business-Mens"></i><span></span>
              <span class="menu-title item-name">{{$t('Customers')}}</span>
            </router-link>
          </li>

            <!--Suppliers router link-->
            <li
            class="nav-item"
            @click="active = $t('Suppliers')" 
            :class="{active:active === $t('Suppliers')}"
            v-if="currentUserPermissions && currentUserPermissions.includes('Suppliers_view')"
          >
          <router-link tag="a" class="nav-link" to="/app/People/Suppliers">
            <i class="nav-icon i-Business-Mens"></i><span></span>
            <span class="menu-title item-name">{{$t('Suppliers')}}</span>
          </router-link>
          </li>

         <!--Users router link-->
          <li
          class="nav-item"
          @click="active = $t('Users')" 
            :class="{active:active === $t('Users')}"
          v-if="currentUserPermissions && currentUserPermissions.includes('users_view')"
        >
        <router-link tag="a" class="nav-link" to="/app/People/Users">
          <i class="nav-icon i-Business-Mens"></i><span></span>
          <span class="menu-title item-name">{{$t('Users')}}</span>
        </router-link>
        </li>
          </ul>
        </b-collapse>
      
      </li>

  <!--#####################Stock menu####################################-->
      <li class="nav-item border-bottom"
      v-show="currentUserPermissions 
    && (currentUserPermissions.includes('shippingGuide_view')
      || currentUserPermissions.includes('transfer_view')
      || currentUserPermissions.includes('purchase_view')
      ||currentUserPermissions.includes('purchaseOrder_view')
      || currentUserPermissions.includes('expenses_view')
      ||currentUserPermissions.includes('adjustment_view')
      || currentUserPermissions.includes('adjustment_add')
     )"
  :class="{ active: selectedParentMenu == 'adjustments' }"
  data-item="adjustments"
  :data-submenu="true">

        <span class="nav-link" v-b-toggle="'table-dropdown'">
          <span class="menu-title">{{$t('StockAdjustement')}}</span>
          <i class="menu-arrow"></i>
          <i class="i-Edit-Map menu-icon"></i>
        </span>

        <b-collapse accordion="sidebar-accordion" id="table-dropdown">
          <ul class="nav flex-column sub-menu childNav"
           data-parent="adjustments"
         :class="{ 'block': selectedParentMenu == 'adjustments' }">

         <!--Stock shipping guide router link-->
            <li class="nav-item"
               @click="active = $t('ShippingGuides')" 
              :class="{active:active === $t('ShippingGuides')}">             
              <router-link tag="a" class="nav-link" to="/app/adjustments/shippingguides">            
                <i class="mdi mdi-forward nav-icon"></i><span></span>
                <span class="item-name">{{$t('ShippingGuides')}} </span>
              </router-link>
            </li>

            <!--Stock Intern Transfer router link-->
            <li class="nav-item"
            @click="active = $t('InternalTransfer')" 
              :class="{active:active === $t('InternalTransfer')}">
              <router-link tag="a" class="nav-link" to="/app/adjustments/internaltransfers">
                <i class="mdi mdi-swap-horizontal nav-icon"></i><span></span>
                <span class="item-name">{{$t('InternalTransfer')}}</span>
              </router-link>
            </li>

            <!--Stock: purchase router link-->
            <li class="nav-item"
            @click="active = $t('Purchases')" 
              :class="{active:active === $t('Purchases')}">
              <router-link tag="a" class="nav-link" to="/app/adjustments/purchases">
                <i class="i-Add-Cart nav-icon"></i><span></span>
                <span class="item-name">{{$t('Purchases')}}</span>
              </router-link>
            </li>

            <!--Stock purchase order router link-->
            <li class="nav-item"
            @click="active = $t('PurchaseOrders')" 
            :class="{active:active === $t('PurchaseOrders')}">
              <router-link tag="a" class="nav-link" to="/app/adjustments/purchaseOrders">
                <i class="i-Add-Cart nav-icon"></i><span></span>
                <span class="item-name">{{$t('PurchaseOrders')}}</span>
              </router-link>
            </li>

            <!--Stock expenses router link-->
            <li class="nav-item"
            @click="active = $t('Expenses')" 
            :class="{active:active === $t('Expenses')}"
            >
              <router-link tag="a" class="nav-link" to="/app/adjustments/expenses">
                <i class="mdi mdi-minus-circle nav-icon"></i><span></span>
                <span class="item-name">{{$t('Expenses')}}</span>
              </router-link>
            </li>

            <!--Stock resume router link-->
            <li class="nav-item"
            @click="active = $t('ListAdjustments')" 
            :class="{active:active === $t('ListAdjustments')}"
            v-if="currentUserPermissions && currentUserPermissions.includes('adjustment_view')">
              <router-link tag="a" class="nav-link" to="/app/adjustments/list">
                <i class="i-Files nav-icon"></i><span></span>
                <span class="item-name"> {{$t('ListAdjustments')}}</span>
              </router-link>
            </li>

          </ul>
        </b-collapse>
      </li>

      <!--############Finances module/##############-->
      <li class="nav-item border-bottom">
        <span class="nav-link" v-b-toggle="'financial-page-dropdown'">
          <span class="menu-title">{{$t('Finances')}}</span>
          <i class="menu-arrow"></i>
          <i class="mdi mdi-finance menu-icon"></i>
        </span>

        <b-collapse accordion="sidebar-accordion" id="financial-page-dropdown">

          <!--###Finances sub-menu###-->
          <ul class="nav flex-column sub-menu childNav"
           :data-parent="$t('Financial')"
         :class="{ 'block': selectedParentMenu == $t('Finances') }">

            <!--Finances bill to pay router link-->
            <li class="nav-item"
            @click="active = $t('PayableAccounts')" 
              :class="{active:active === $t('PayableAccounts')}">            
              <router-link tag="a" class="nav-link"  to="#">
                <i class="mdi mdi-cash nav-icon"></i><span></span>
                <span class="item-name">{{$t('PayableAccounts')}}</span>
              </router-link>
            </li>

             <!--Finances bill to reveive router link-->
            <li class="nav-item"
            @click="active = $t('ReceivableAccounts')" 
            :class="{active:active === $t('ReceivableAccounts')}"
            >
              <router-link tag="a" class="nav-link" to="#">
                <i class="mdi mdi-cash nav-icon"></i><span></span>
                <span class="item-name">{{$t('ReceivableAccounts')}}</span>
              </router-link>
            </li>

            <!--Finances credit note router link-->

            <li class="nav-item"
            @click="active = $t('CreditNote')" 
            :class="{active:active === $t('CreditNote')}">
              <router-link tag="a" class="nav-link" to="#/auth-pages/register/">
                <i class="mdi mdi-credit-card nav-icon"></i><span></span>
                <span class="item-name">{{$t('CreditNote')}}</span>
              </router-link>
            </li>

            <!--Finances debit note router link-->

            <li class="nav-item"
            @click="active = $t('DebitNote')" 
            :class="{active:active === $t('DebitNote')}">
              <router-link tag="a" class="nav-link" to="#">
                <i class="mdi mdi-credit-card nav-icon"></i><span></span>
                <span class="item-name">{{$t('DebitNote')}}</span>
              </router-link>
            </li>
          </ul>
        </b-collapse>
      </li>

      <!--########################## System settings ##########################-->
      <li
            v-show="currentUserPermissions && (currentUserPermissions.includes('setting_system') 
                        || currentUserPermissions.includes('warehouse') || currentUserPermissions.includes('backup') 
                        || currentUserPermissions.includes('currency') || currentUserPermissions.includes('permissions_view'))"
            @mouseenter="toggleSubMenu"
            :class="{ active: selectedParentMenu == 'settings' }"
            class="nav-item border-bottom"
            data-item="settings"
            :data-submenu="true"
          >
            <span class="nav-link" v-b-toggle="'settings-page-dropdown'">
              <span class="menu-title">{{$t('Settings')}}</span>
              <i class="menu-arrow"></i>
              <fa icon="fa-solid fa-cog nav-icon"/> 
            </span>

            <b-collapse accordion="sidebar-accordion" id="settings-page-dropdown">
            <ul
            class="nav flex-column sub-menu childNav"
            data-parent="settings"
            :class="{ 'd-block': selectedParentMenu == 'settings' }"
          >
          <!------System settings router link------>
            <li
              class="nav-item"
              @click="active = $t('SystemSettings')" 
            :class="{active:active === $t('SystemSettings')}"
              v-if="currentUserPermissions && currentUserPermissions.includes('setting_system')"
            >
              <router-link tag="a" class="nav-link" to="/app/settings/System_settings">
                <i class="nav-icon i-Data-Settings"></i><soan></soan>
                <span class="item-name">{{$t('SystemSettings')}}</span>
              </router-link>
            </li>

            <!------Group permissions router link------>
            <li
              class="nav-item"
              @click="active = $t('GroupPermissions')" 
            :class="{active:active === $t('GroupPermissions')}"
              v-if="currentUserPermissions && currentUserPermissions.includes('permissions_view')"
            >
              <router-link tag="a" class="nav-link" to="/app/settings/permissions">
                <i class="nav-icon i-Key"></i><span></span>
                <span class="item-name">{{$t('GroupPermissions')}}</span>
              </router-link>
            </li>

            <!------Warehouses settings router link------>
            <li
              class="nav-item"
              @click="active = $t('Warehouses')" 
              :class="{active:active === $t('Warehouses')}"
              v-if="currentUserPermissions && currentUserPermissions.includes('warehouse')"
            >
              <router-link tag="a" class="nav-link" to="/app/settings/Warehouses">
                <i class="nav-icon i-Clothing-Store"></i><span></span>
                <span class="item-name">{{$t('Warehouses')}}</span>
              </router-link>
            </li>

            <!-------Currencies settings router link---------->
            <li
              class="nav-item"
              @click="active = $t('Currencies')" 
              :class="{active:active === $t('Currencies')}"
              v-if="currentUserPermissions && currentUserPermissions.includes('currency')"
            >
              <router-link tag="a" class="nav-link" to="/app/settings/Currencies">
                <i class="nav-icon i-Dollar-Sign"></i><span></span>
                <span class="item-name">{{$t('Currencies')}}</span>
              </router-link>
            </li>
           
            <!-------Backup settings router link---------->
            <li
              class="nav-item"
              @click="active = $t('Backup')" 
              :class="{active:active === $t('Backup')}"
              v-if="currentUserPermissions && currentUserPermissions.includes('backup')"
            >
              <router-link tag="a" class="nav-link" to="/app/settings/Backup">
                <i class="nav-icon i-Data-Backup"></i><span></span>
                <span class="item-name">{{$t('Backup')}}</span>
              </router-link>
            </li>
  
          </ul>
          </b-collapse>
          </li>
      
      <!--######################System reports########################-->
      <li class="nav-item border-bottom"
      v-show="currentUserPermissions && 
                     (currentUserPermissions.includes('Reports_payments_Sales') 
                     || currentUserPermissions.includes('Reports_payments_Purchases')
                     || currentUserPermissions.includes('Reports_payments_Sale_Returns')
                     || currentUserPermissions.includes('Reports_payments_purchase_Return')
                     || currentUserPermissions.includes('Warehouse_report')
                     || currentUserPermissions.includes('Reports_profit')
                     || currentUserPermissions.includes('Reports_purchase') 
                     || currentUserPermissions.includes('Reports_quantity_alerts')
                     || currentUserPermissions.includes('Reports_sales') 
                     || currentUserPermissions.includes('Reports_suppliers')
                     || currentUserPermissions.includes('Reports_customers')
                     || currentUserPermissions.includes('Top_products')
                     || currentUserPermissions.includes('Top_customers')
                     || currentUserPermissions.includes('users_report')
                     || currentUserPermissions.includes('stock_report'))"
            @mouseenter="toggleSubMenu"
            :class="{ active: selectedParentMenu == 'reports'}"
            data-item="reports"
            :data-submenu="true">

        <span class="nav-link" v-b-toggle="'report-page-dropdown'">
          <span class="menu-title">{{$t("Reports")}}</span>
          <i class="menu-arrow"></i>
          <i class="mdi mdi-security menu-icon"></i>
        </span>

        <b-collapse accordion="sidebar-accordion" id="report-page-dropdown">

          <ul class="nav flex-column sub-menu childNav"
           data-parent="reports"
          :class="{ 'd-block': selectedParentMenu == 'reports' }">

            <!--########Reports: Payments#########-->
          <li class="nav-item dropdown-sidemenu border-bottom"
            v-if="currentUserPermissions &&
            (currentUserPermissions.includes('Reports_payments_Purchases') 
          || currentUserPermissions.includes('Reports_payments_Sales')
          || currentUserPermissions.includes('Reports_payments_Sale_Returns')
          || currentUserPermissions.includes('Reports_payments_purchase_Return'))"
          @mouseenter="toggleSubMenu"
          data-item="payments"
          :class="{ active: selectedParentMenu == 'payments' }"
          :data-submenu="true"
           >
           <span class="nav-link" v-b-toggle="'payments-page-dropdown'">
            <span class="menu-title">{{$t('Payments')}}</span>
            <i class="menu-arrow"></i>
            <i class="dd-arrow i-Arrow-Down"></i>
          </span>

              <b-collapse  id="payments-page-dropdown">

              <ul class="nav flex-column sub-menu"
              data-parent="payments"
            :class="{ 'd-block': selectedParentMenu == 'payments' }"
             >

             <!--Purchases-payments reports router link-->
                 <li 
                 class="nav-item"
              @click="active = $t('Purchases')" 
            :class="{active:active === $t('Purchases')}"
                   v-if="currentUserPermissions && currentUserPermissions.includes('Reports_payments_Purchases')"
                 >
                   <router-link class="nav-link" to="/app/reports/payments_purchase">
                     <i class="i-ID-Card nav-icon"></i><span></span>
                     <span class="menu-title item-name">{{$t('Purchases')}}</span>
                   </router-link>
                 </li>
   
                  <!--Payments-sales reports router link-->

                 <li class="nav-item"
                 @click="active = $t('Sales')" 
               :class="{active:active === $t('Sales')}"
                   v-if="currentUserPermissions && currentUserPermissions.includes('Reports_payments_Sales')"
                 >
                   <router-link  class="nav-link" to="/app/reports/payments_sale">
                     <i class="nav-icon i-ID-Card"></i><span></span>
                     <span class="menu-title item-name">{{$t('Sales')}}</span>
                   </router-link>
                 </li>

            <!--Payments-sales return reports router link-->

                 <li class="nav-item"
                 @click="active = $t('SalesReturn')" 
               :class="{active:active === $t('SalesReturn')}"
                   v-if="currentUserPermissions && currentUserPermissions.includes('Reports_payments_Sale_Returns')"
                 >
                   <router-link class="nav-link" to="/app/reports/payments_sales_returns">
                     <i class="nav-icon i-ID-Card"></i><span></span>
                     <span class="menu-title item-name">{{$t('SalesReturn')}}</span>
                   </router-link>
                 </li>

                <!--Payments-purchase return reports router link-->
                 <li class="nav-item"
                 @click="active = $t('PurchasesReturn')" 
               :class="{active:active === $t('PurchasesReturn')}"
                   v-if="currentUserPermissions && currentUserPermissions.includes('Reports_payments_purchase_Return')"
                 >
                   <router-link class="nav-link" to="/app/reports/payments_purchases_returns">
                     <i class="nav-icon i-ID-Card"></i><span></span>
                     <span class="menu-title item-name">{{$t('PurchasesReturn')}}</span>
                   </router-link>
                 </li>
               </ul>
              </b-collapse>
            </li>

            <!--Profit and Loss reports router link-->
            <li class="nav-item"
            @click="active = $t('ProfitandLoss')" 
               :class="{active:active === $t('ProfitandLoss')}"
            v-if="currentUserPermissions && currentUserPermissions.includes('Reports_profit')"
          >
            <router-link  class="nav-link" to="/app/reports/profit_and_loss">
              <i class="nav-icon i-Split-FourSquareWindow"></i><span></span>
              <span class="menu-title item-name">{{$t('ProfitandLoss')}}</span>
            </router-link>
          </li>

          <!--Quantity alerts reports router link-->
          <li
            class="nav-item"
            @click="active = $t('StockAlert')" 
            :class="{active:active === $t('StockAlert')}"
            :data-parent="$t('Reports')"
            v-if="currentUserPermissions && currentUserPermissions.includes('Reports_quantity_alerts')"
          >
            <router-link class="nav-link" to="/app/reports/quantity_alerts">
              <i class="nav-icon i-Dollar"></i><span></span>
              <span class="menu-title item-name">{{$t('StockAlert')}}</span>
            </router-link>
          </li>

          <!--Warehouses reports router link-->
          <li class="nav-item"
          @click="active = $t('Warehouse_report')" 
          :class="{active:active ===$t('Warehouse_report')}"
            v-if="currentUserPermissions && currentUserPermissions.includes('Warehouse_report')"
          >
            <router-link class="nav-link" to="/app/reports/warehouse_report">
              <i class="nav-icon i-Pie-Chart"></i><span></span>
              <span class="menu-title item-name">{{$t('Warehouse_report')}}</span>
            </router-link>
          </li>

          <!--Stock report-->
          <li class="nav-item"
          @click="active = $t('stock_report')" 
          :class="{active:active === $t('stock_report')}"
            v-if="currentUserPermissions && currentUserPermissions.includes('stock_report')"
          >
            <router-link class="nav-link" to="/app/reports/stock_report">
              <i class="nav-icon i-Pie-Chart"></i><span></span>
              <span class="menu-title item-name">{{$t('stock_report')}}</span>
            </router-link>
          </li>

          <!--Sales reports-->
          <li
            class="nav-item"
            @click="active = $t('SalesReport')" 
          :class="{active:active === $t('SalesReport')}"  
            v-if="currentUserPermissions && currentUserPermissions.includes('Reports_sales')"
          >
            <router-link class="nav-link" to="/app/reports/sales_report">
              <i class="nav-icon i-Line-Chart"></i><span></span>
              <span class="menu-title item-name">{{$t('SalesReport')}}</span>
            </router-link>
          </li>

          <!--Purchase report-->
          <li
            class="nav-item"
            @click="active = $t('PurchasesReport')" 
          :class="{active:active === $t('PurchasesReport')}"
            v-if="currentUserPermissions && currentUserPermissions.includes('Reports_purchase')"
          >
            <router-link  class="nav-link" to="/app/reports/purchase_report">
              <i class="nav-icon i-Bar-Chart5"></i><span></span>
              <span class="menu-title item-name">{{$t('PurchasesReport')}}</span>
            </router-link>
          </li>

          <!--Customers report-->
          <li
            class="nav-item"
            @click="active = $t('CustomersReport')" 
            :class="{active:active === $t('CustomersReport')}"
            v-if="currentUserPermissions && currentUserPermissions.includes('Reports_customers')"
          >
            <router-link class="nav-link" to="/app/reports/customers_report">
              <i class="nav-icon i-Bar-Chart"></i><span></span>
              <span class="menu-title item-name">{{$t('CustomersReport')}}</span>
            </router-link>
          </li>

          <!--Suppliers report-->
          <li
            class="nav-item"
            @click="active = $t('SuppliersReport')" 
            :class="{active:active === $t('SuppliersReport')}"
            v-if="currentUserPermissions && currentUserPermissions.includes('Reports_suppliers')"
          >
            <router-link class="nav-link" to="/app/reports/providers_report">
              <i class="nav-icon i-Pie-Chart"></i><span></span>
              <span class="menu-title item-name">{{$t('SuppliersReport')}}</span>
            </router-link>
          </li>

          <!--Top selling products report-->
           <li
            class="nav-item"
            @click="active = $t('Top_Selling_Products')" 
            :class="{active:active === $t('Top_Selling_Products')}"
            v-if="currentUserPermissions && currentUserPermissions.includes('Top_products')"
          >
            <router-link class="nav-link" to="/app/reports/top_selling_products">
              <i class="nav-icon i-Pie-Chart"></i><span></span>
              <span class="menu-title item-name">{{$t('Top_Selling_Products')}}</span>
            </router-link>
          </li>

          <!--Top customers report-->
          <li
            class="nav-item"
            @click="active = $t('Top_customers')" 
            :class="{active:active === $t('Top_customers')}"
            v-if="currentUserPermissions && currentUserPermissions.includes('Top_customers')"
          >
            <router-link class="nav-link" to="/app/reports/top_customers">
              <i class="nav-icon i-Pie-Chart"></i><span></span>
              <span class="menu-title item-name">{{$t('Top_customers')}}</span>
            </router-link>
          </li>

          <!--Users report-->
          <li
            class="nav-item"
            @click="active = $t('Users_Report')" 
            :class="{active:active === $t('Users_Report')}"
            v-if="currentUserPermissions && currentUserPermissions.includes('users_report')"
          >
            <router-link class="nav-link" to="/app/reports/users_report">
              <i class="nav-icon i-Pie-Chart"></i><span></span>
              <span class="menu-title item-name">{{$t('Users_Report')}}</span>
            </router-link>
          </li>
          </ul>  
        </b-collapse>     
      </li>

      <!--Documentation router link-->
      <li class="nav-item border-bottom">
        <router-link tag="a" class="nav-link " to="#">
          <span class="menu-title item-name">{{$t('Documentation')}}</span>
          <i class="i-Library-2 menu-icon"></i>
        </router-link>
      </li>
      
      <hr>
      <!--<li class="nav-item sidebar-actions">
        <span class="nav-link">
          <div class="border-bottom">
            <h6 class="font-weight-normal mb-3">Projects</h6>
          </div>
          <button class="btn btn-block btn-lg btn-gradient-primary mt-4">+ Add a project</button>
          <div class="mt-4">
            <div class="border-bottom">
              <p class="text-secondary">Categories</p>
            </div>
            <ul class="gradient-bullet-list mt-4">
              <li>Free</li>
              <li>Pro</li>
            </ul>
          </div>
        </span>
      </li>-->
    </ul>
  </nav>
  <!--=============== Left side End ================-->
</template>

<script>
import Topnav from "./TopNav";
import { isMobile } from "mobile-device-detect";

import { mapGetters, mapActions } from "vuex";

export default {
  components: {
    Topnav
  },

  data() {
    return {
      collapse: [ 
     { show: false },
     { show: false },
     { show: false },
     { active: null },
    ],
      isDisplay: true,
      isMenuOver: false,
      isStyle: true,
      selectedParentMenu: "",
      isMobile
    };
  },
  mounted() {

    const body = document.querySelector('body')
    // add class 'hover-open' to sidebar navitem while hover in sidebar-icon-only menu
    document.querySelectorAll('.sidebar .nav-item').forEach(function (el) {
      el.addEventListener('mouseover', function () {
        if (body.classList.contains('sidebar-icon-only')) {
          el.classList.add('hover-open')
        }
      })
      el.addEventListener('mouseout', function () {
        if (body.classList.contains('sidebar-icon-only')) {
          el.classList.remove('hover-open')
        }
      })
    }),
    this.toggleSelectedParentMenu();
    window.addEventListener("resize", this.handleWindowResize);
    document.addEventListener("click", this.returnSelectedParentMenu);
    this.handleWindowResize();
  },

  beforeDestroy() {
    document.removeEventListener("click", this.returnSelectedParentMenu);
    window.removeEventListener("resize", this.handleWindowResize);
  },

  computed: {
    ...mapGetters(["getSideBarToggleProperties", "currentUserPermissions"])
  },

  methods: {

    collapseAll() {
      var exp_elm = document.getElementsByClassName("show");
      if (exp_elm.length > 0) {
        var elm_id = exp_elm[0].id;
        this.$root.$emit("bv::toggle::collapse", elm_id);
      }
    },
    ...mapActions([
      "changeSecondarySidebarProperties",
      "changeSecondarySidebarPropertiesViaMenuItem",
      "changeSecondarySidebarPropertiesViaOverlay",
      "changeSidebarProperties"
    ]),

    handleWindowResize() {
      if (window.innerWidth <= 1200) {
        if (this.getSideBarToggleProperties.isSideNavOpen) {
          this.changeSidebarProperties();
        }
        if (this.getSideBarToggleProperties.isSecondarySideNavOpen) {
          this.changeSecondarySidebarProperties();
        }
      } else {
        if (!this.getSideBarToggleProperties.isSideNavOpen) {
          this.changeSidebarProperties();
        }
      }
    },
    toggleSelectedParentMenu() {
      const currentParentUrl = this.$route.path
        .split("/")
        .filter(x => x !== "")[1];
      if (currentParentUrl !== undefined || currentParentUrl !== null) {
        this.selectedParentMenu = currentParentUrl.toLowerCase();
      } else {
        this.selectedParentMenu = "dashboard";
      }
    },
    toggleSubMenu(e) {
      let hasSubmenu = e.target.dataset.submenu;
      let parent = e.target.dataset.item;

      if (hasSubmenu) {
        this.selectedParentMenu = parent;

        this.changeSecondarySidebarPropertiesViaMenuItem(true);
      } else {
        this.selectedParentMenu = parent;
        this.changeSecondarySidebarPropertiesViaMenuItem(false);
      }
    },

    removeOverlay() {
      this.changeSecondarySidebarPropertiesViaOverlay();
      if (window.innerWidth <= 1200) {
        this.changeSidebarProperties();
      }
      this.toggleSelectedParentMenu();
    },
    returnSelectedParentMenu() {
      if (!this.isMenuOver) {
        this.toggleSelectedParentMenu();
      }
    },

    toggleSidebarDropdwon(event) {
      let dropdownMenus = this.$el.querySelectorAll(".dropdown-sidemenu.open");

      event.currentTarget.classList.toggle("open");

      dropdownMenus.forEach(dropdown => {
        dropdown.classList.remove("open");
      });
    }
  },
  
  watch:{
    $route () {
       document.querySelector('#sidebar').classList.toggle('active');
    }
  } 
  
};

</script>

<style lang="" scoped>
</style>

