<template>  
  <nav  class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row" toggleable="lg">
    
    <!--####Navbar-brand + logotype####-->
    <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center" style="object-fit:contain">
      <router-link class="navbar-brand brand-logo" to="/app/dashboard"><img :src="'/images/'+currentUser.logo"/></router-link> <!--:src="'assets/images'"+currentUser.logo-->
      <router-link class="navbar-brand brand-logo-mini" to="/app/dashboard"><img :src="'/images/'+currentUser.logo"/></router-link>
    </div>
    
    <div class="navbar-menu-wrapper d-flex align-items-stretch">
      <!--Toggle (Eollapse/Expand) Sidebar button-->
      <button class="navbar-toggler navbar-toggler menu-toggle align-self-center d-lg-block" type="button"  @click="toggleSidebar">
        <span class="mdi mdi-menu"></span>
      </button>

      <div class="search-field d-none d-md-block">
        <!--Search Field (Form)-->
        <form action="#">
          <div class="d-flex align-items-center input-group">
            <div class="input-group-prepend bg-transparent">
              <i class="input-group-text border-0 mdi mdi-magnify"></i>
            </div>
            <input type="text" class="form-control bg-transparent border-0" placeholder="Search projects">
          </div>
        </form>
      </div>

      <!--#####Right topbar Navigation items#######-->
      <ul class="navbar-nav navbar-nav-right">

        <!--Desktop shortcut/router link-->
        <li class="nav-item dashboard-link">
        <router-link 
        class="nav-link" :title="$t('dashboard')"
        to="/app/dashboard"
      >
      <i class="mdi mdi-view-dashboard menu-icon"></i>
      <!--<span class="ul-btn__text ml-1"></span>-->
      </router-link>
        </li>

        <!--######POS shortcut/router link-->
        <li class="nav-item  pos-link">
        <router-link 
        v-if="currentUserPermissions && currentUserPermissions.includes('Pos_view')"
        class="nav-link"
        to="/app/pos" :title="$t('PointofSale')">
        <fa icon="fa-solid fa-th"/> 
        <span class="ul-btn__text ml-1">POS</span>
      </router-link>
       </li>

        <!--####Fullscreen toggle button#######-->
        <li class="nav-item  full-screen-link">
          <a class="nav-link" href="#">
            <i class="mdi mdi-fullscreen" id="fullscreen-button" title="Full Screen" @click="handleFullScreen"></i>
          </a>
          </li>

        <!--Messages list item-->
        <li class="nav-item dropdown">
          <router-link class="nav-link count-indicator dropdown-toggle" id="messageDropdown" to="#" data-toggle="dropdown" aria-expanded="false">
            <i class="mdi mdi-email-outline"></i>
            <span class="count-symbol bg-warning"></span>
          </router-link>
          <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="messageDropdown">
            <h6 class="p-3 mb-0">Messages</h6>
            <div class="dropdown-divider"></div>
            <router-link class="dropdown-item preview-item" to="#">
              <div class="preview-thumbnail">
                  <img src="/images/faces/face4.jpg" alt="image" class="profile-pic">
              </div>
              <div class="preview-item-content d-flex align-items-start flex-column justify-content-center">
                <h6 class="preview-subject ellipsis mb-1 font-weight-normal">Mark send you a message</h6>
                <p class="text-gray mb-0">
                  1 Minutes ago
                </p>
              </div>
            </router-link>
            <div class="dropdown-divider"></div>
            <router-link class="dropdown-item preview-item" to="#">
              <div class="preview-thumbnail">
                  <img src="/images/faces/face2.jpg" alt="image" class="profile-pic">
              </div>
              <div class="preview-item-content d-flex align-items-start flex-column justify-content-center">
                <h6 class="preview-subject ellipsis mb-1 font-weight-normal">Cregh send you a message</h6>
                <p class="text-gray mb-0">
                  15 Minutes ago
                </p>
              </div>
            </router-link>

            <div class="dropdown-divider"></div>
            <router-link class="dropdown-item preview-item" to="#">
              <div class="preview-thumbnail">
                  <img src="/images/faces/face3.jpg" alt="image" class="profile-pic">
              </div>
              <div class="preview-item-content d-flex align-items-start flex-column justify-content-center">
                <h6 class="preview-subject ellipsis mb-1 font-weight-normal">Profile picture updated</h6>
                <p class="text-gray mb-0">
                  18 Minutes ago
                </p>
              </div>
            </router-link>
            <div class="dropdown-divider"></div>
            <h6 class="p-3 mb-0 text-center">4 new messages</h6>
          </div>
        </li>

        <!--Notifications-->
        
        <div class="nav-item dropdown">
          <a class="nav-link count-indicator dropdown-toggle" href="#" id="notificationDropdown" data-toggle="dropdown">
            <i class="mdi mdi-bell-outline"></i>
            <span class="count-symbol bg-danger"></span>
          </a>
          <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
            <h6 class="p-3 mb-0">Notifications</h6>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item preview-item" href="#">
              <div class="preview-thumbnail">
                <div class="preview-icon bg-success">
                  <i class="mdi mdi-calendar"></i>
                </div>
              </div>
              <div class="preview-item-content d-flex align-items-start flex-column justify-content-center">
                <h6 class="preview-subject font-weight-normal mb-1">Event today</h6>
                <p class="text-gray ellipsis mb-0">
                  Just a reminder that you have an event today
                </p>
              </div>
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item preview-item" href="#">
              <div class="preview-thumbnail">
                <div class="preview-icon bg-warning">
                  <i class="mdi mdi-settings"></i>
                </div>
              </div>
              <div class="preview-item-content d-flex align-items-start flex-column justify-content-center">
                <h6 class="preview-subject font-weight-normal mb-1">Settings</h6>
                <p class="text-gray ellipsis mb-0">
                  Update dashboard
                </p>
              </div>
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item preview-item" href="#">
              <div class="preview-thumbnail">
                <div class="preview-icon bg-info">
                  <i class="mdi mdi-link-variant"></i>
                </div>
              </div>
              <div class="preview-item-content d-flex align-items-start flex-column justify-content-center">
                <h6 class="preview-subject font-weight-normal mb-1">Launch Admin</h6>
                <p class="text-gray ellipsis mb-0">
                  New admin wow!
                </p>
              </div>
            </a>
            <div class="dropdown-divider"></div>
            <h6 class="p-3 mb-0 text-center">See all notifications</h6>
          </div>
        </div>


        <!--<li class="nav-item nav-logout d-none d-lg-block">
          <a class="nav-link" href="#">
            <i class="mdi mdi-power"></i>
          </a>
        </li>-->

        <!--Language selection-->
        <div class="dropdown">
          <b-dropdown
            id="dropdown"
            text="Dropdown Button"
            class="m-md-2 d-none  d-md-block"
            toggle-class="text-decoration-none"
            no-caret
            variant="link"
          >
            <template slot="button-content">
              <i
                class="i-Globe text-muted header-icon nav-link"
                role="button"
                id="dropdownMenuButton"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
                :title="$t('Language')"
              ></i>
            </template>
            <vue-perfect-scrollbar
              :settings="{ suppressScrollX: true, wheelPropagation: false }"
              ref="myData"
              class="dropdown-menu-right rtl-ps-none notification-dropdown ps scroll"
            >
              <div class="menu-icon-grid">
                <a @click="SetLocal('en')">
                  <i title="en" class="flag-icon flag-icon-squared flag-icon-gb"></i> English
                </a>
                <a @click="SetLocal('pt')">
                  <i title="pt" class="flag-icon flag-icon-squared flag-icon-pt"></i>
                  <span class="title-lang">Portuguese</span>
                </a>            
              </div>
            </vue-perfect-scrollbar>
          </b-dropdown>
        </div>

        <!--Active User + Activities Log + Logout-->
        <div class="dropdown">
          <b-dropdown
            id="dropdown-1"
            text="Dropdown Button"
            class="m-md-2 user col align-self-end d-md-block"
            toggle-class="text-decoration-none"
            no-caret
            variant="link"
          >
            <template slot="button-content" >
              <img
                :src="'/images/avatar/'+currentUser.avatar"
                id="userDropdown"
                alt
                height="30"
                width="30"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
              <span class="availability-status online"></span>             

              </template>
  
            <div class="dropdown-menu-right" aria-labelledby="userDropdown">
              <div class="dropdown-header">
                <i class="i-Lock-User mr-1"></i>               
                <span >{{currentUser.username}}</span>
                           
              </div>
              <router-link to="/app/profile" class="dropdown-item">{{$t('profil')}}</router-link>
              <router-link
                v-if="currentUserPermissions && currentUserPermissions.includes('setting_system')"
                to="/app/settings/System_settings"
                class="dropdown-item"
              >{{$t('Settings')}}</router-link>
              <a class="dropdown-item" href="#" @click.prevent="logoutUser">{{$t('logout')}}</a>
            </div>
          </b-dropdown>
        </div>
               
        <!--Navigation settings-->
        <li class="nav-item nav-settings d-none d-lg-block">
          <a class="nav-link" href="#">
            <i class="mdi mdi-format-line-spacing"></i>
          </a>
        </li>
      </ul>
      <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" @click="toggleMobileSidebar()">
        <span class="mdi mdi-menu"></span>
      </button>
    </div>
  </nav>
  <!-- header top menu end -->
</template>
<script>
import Util from "./../../../utils";
// import Sidebar from "./Sidebar";
import { isMobile } from "mobile-device-detect";
import { mapGetters, mapActions } from "vuex";
import { mixin as clickaway } from "vue-clickaway";
// import { setTimeout } from 'timers';
import moment from 'moment';
import FlagIcon from "vue-flag-icon";

export default {
  mixins: [clickaway],
  components: {
    FlagIcon
  },

  data() {
  
    return {
      langs: [
        "pt",
        "en",
        "fr",
        "ar",
        "de",
        "es",
        "it",
        "Ind",
        "thai",
        "tr_ch",
        "sm_ch",
        "tur",
        "ru",
        "hn",
        "vn",
        "kr"
      ],
      
      isDisplay: true,
      isStyle: true,
      isSearchOpen: false,
      isMouseOnMegaMenu: true,
      isMegaMenuOpen: false,
      is_Load:false,
      // alerts:0,
     
    };
  },
 
   computed: {
     
     ...mapGetters([
       "currentUser",
      "getSideBarToggleProperties",
      "currentUserPermissions",
      "notifs_alert",
    ]),
  },

  methods: {

   /* toggleSidebar() {
        this.isOpen = false;
    },*/
    toggleSidebar: () => {
      document.querySelector('body').classList.toggle('sidebar-icon-only'); //sidebar-icon-only
    },
    toggleMobileSidebar: () => {
      document.querySelector('#sidebar').classList.toggle('active');
    },
    currentDate() {
      const current = new Date();
      const date = `${current.getDate()}/${current.getMonth()+1}/${current.getFullYear()}`;
      return date;
    },
    dayfullname (date) {
    const getfullname = moment(date).format('dddd');
    return getfullname // monday, tuesday etcetera
  },
    ...mapActions([
      "changeSecondarySidebarProperties",
      "changeSidebarProperties",
      "changeThemeMode",
      "logout",
    ]),

    logoutUser() {
      this.$store.dispatch("logout");
    },

    SetLocal(locale) {
      this.$i18n.locale = locale;
      this.$store.dispatch("language/setLanguage", locale);
      Fire.$emit("ChangeLanguage");
    },
    
    handleFullScreen() {
      Util.toggleFullScreen();
    },
    logoutUser() {
      this.logout();
    },

    closeMegaMenu() {
      this.isMegaMenuOpen = false;
    },
    toggleMegaMenu() {
      this.isMegaMenuOpen = !this.isMegaMenuOpen;
    },
    toggleSearch() {
      this.isSearchOpen = !this.isSearchOpen;
    },

    sideBarToggle(el) {
      if (
        this.getSideBarToggleProperties.isSideNavOpen &&
        this.getSideBarToggleProperties.isSecondarySideNavOpen &&
        isMobile
      ) {
        this.changeSidebarProperties();
        this.changeSecondarySidebarProperties();
      } else if (
        this.getSideBarToggleProperties.isSideNavOpen &&
        this.getSideBarToggleProperties.isSecondarySideNavOpen
      ) {
        this.changeSecondarySidebarProperties();
      } else if (this.getSideBarToggleProperties.isSideNavOpen) {
        this.changeSidebarProperties();
      } else if (
        !this.getSideBarToggleProperties.isSideNavOpen &&
        !this.getSideBarToggleProperties.isSecondarySideNavOpen &&
        !this.getSideBarToggleProperties.isActiveSecondarySideNav
      ) {
        this.changeSidebarProperties();
      } else if (
        !this.getSideBarToggleProperties.isSideNavOpen &&
        !this.getSideBarToggleProperties.isSecondarySideNavOpen
      ) {

        this.changeSidebarProperties();
        this.changeSecondarySidebarProperties();
      }
    }
  }
};

</script>



