<template>
<!-- ============ Body content start ============= -->
<div class="main-content">
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-success"></div>
                <div class="box-header">
                    <h3 class="box-title">Links de acesso rapido</h3>
                </div>
				
                <div class="box-body caixinhas-home">
                    
                    <a class="btn btn-app" href="#">
                        <i class="fa fa-barcode"></i> Gest&atilde;o Comercial'
                    </a>
                    
                    <a class="btn btn-app" href="#">
                        <i class="fa fa-users"></i>Recursos Humanos
                    </a>
                    
                    <a class="btn btn-app" href="#">
                        <i class="fa fa-money"></i>Contabilidade
                    </a>                 
                </div>
        </div>
    </div>
</section>
</div>
</template>